<template id="vuec-orders-awaiting-provisioning-table">
    <table-component :data-source="dataSourceFunc"
                     :can-search="true"
                     @show-detailed-view="showDetailedView">
    </table-component>
</template>

<script>
    let OrdersAwaitingProvisioningTable = {
        components: {
            'table-component': TableComponent,
        },
        props: {
            serviceId: Number,
        },
        emits: [],
        data() {
            return {}
        },
        methods: {
            showDetailedView(x) {
                location.href = "/arrangement/service/" + x.id + "/allocate"
            },
            async dataSourceFunc() {
                let data = await fetch("/api/arrangement/service_order/list?service_id=" + this.serviceId + "&state=confirmed", {
                    method: 'GET'
                }).then(response => response.json());

                let provisions = await fetch("/api/arrangement/service_order/" + this.serviceId + "/provisions", {
                    method: 'GET'
                }).then(response => response.json());

                return {
                    columns: {
                        "id": { 
                            isHtml: true, 
                            friendlyName: "#", 
                            isSortable: true,
                            isSearchable: true,
                            formatter: (item) => {
                                return "TB-" + item.id;
                            }
                        },
                        "arrangement": {
                            isHtml: true,
                            friendlyName: "Arrangement",
                            isSortable: true,
                            formatter: (item) => {
                                if (!item.arrangement) {
                                    return "<span class='text-danger'>Ikke lenger tilgjengelig</span>";
                                }

                                return `${item.arrangement.name} <span class='text-small text-muted'>(<i class='fas fa-cog'></i> ${item.arrangement.status.name})</span> <span class='text-small text-muted'>(<i class='fas fa-cog'></i> ${item.arrangement.arrangementType.name})</span> <span class='text-small text-muted'>(<i class='fas fa-mask'></i> ${item.arrangement.audience.name})</span>`;
                            }
                        },
                        "completion": {
                            isHtml: true,
                            friendlyName: "Tildelte Forekomster",
                            isSortable: false,
                            isSearchable: false,
                            formatter: (item) => {
                                const completeCount = item.provisions.filter(x => x.isComplete).length;
                                const totalCount = item.provisions.length;
                                
                                let html = `<span class='badge badge-danger'>${completeCount}/${totalCount}</span>`;
                                if (completeCount === totalCount) {
                                    html += "<br><i class='text-success'>(Kan markeres som ferdigstilt)</i>";
                                }

                                return html;
                            }
                        },
                        "created": { 
                            isHtml: false, 
                            friendlyName: "Plassert",
                            isSortable: true,
                            formatter: (item) => {
                                return new Date(item.created).toLocaleString();
                            }
                        },
                        "time": { 
                            isHtml: false, 
                            friendlyName: "Fra - Til",
                            isSortable: true,
                            formatter: (item) => {
                                const start = new Date(item.startAndEnd[0]).toLocaleString();
                                const end = new Date(item.startAndEnd[1]).toLocaleString();
                                return `${start} - ${end}`;
                            }
                        },
                        "freetextComment": { 
                            isHtml: false, 
                            friendlyName: "Kommentar fra planlegger", 
                            isSortable: true,
                            isSearchable: true,
                        }
                    },
                    actions: {
                        "showDetailedView": { type: 'main', content: '<i class="fas fa-eye"></i>&nbsp; Gå til tildeling', isContentHtml: true },
                    },
                    data: data.data
                };
            }
        },
        template: '#vuec-orders-awaiting-provisioning-table',
        delimiters: [ '[[', ']]'],
    }
</script>