<template id="vuec-tri-toggle-component">
    <div class="d-flex">
        <div>
            <span class="dot bg-danger text-center text-white">
                <i class="fas fa-times"></i>
            </span>
        </div>
        <div>
            <span class="dot bg-warning text-center text-white">
                <i class="fas fa-spinner"></i>
            </span>
        </div>
        <div>
            <span class="dot bg-success text-center text-white">
                <i class="fas fa-check"></i>
            </span>
        </div>
    </div>
</template>

<script>
    let TriToggleComponent = {
        props: {
        },
        emits: [],
        data() {
        },
        methods: {
        },
        template: '#vuec-order-respond-select-component',
        delimiters: [ '[[', ']]'],
    }
</script>