<template id="vuec-create-service-modal-component-template">
    <mdb-modal-component :is-visible="isVisible" title="Opprett ny tjeneste" @close="$emit('close')">
        <template #modal-body>
            <div class="row">
                <div class="col-12">
                    <div class="d-flex justify-content-between">
                        <label for="service-name" class="h5">
                            Tjenestenavn
                        </label>

                        <div>
                            (* Obligatorisk)
                        </div>
                    </div>

                    <input type="text" id="service-name" class="form-control" placeholder="Tjenestenavn"
                        v-model="serviceName" required>

                    <div class="d-flex justify-content-end text-danger">
                        <span v-if="showServiceNameMissingError" class="small">
                            ** Tjenestenavn er påkrevd
                        </span>
                    </div>

                    <div class="small text-muted mt-2">
                        Tjenestenavnet vil være synlig for brukere som bestiller tjenesten.
                        Det er viktig at navnet er beskrivende og lett å forstå.
                    </div>

                </div>
            </div>
            <div class="mt-3">
                <label for="" class="h5">Ansvarlige</label>
                <person-select-component v-model="staff" :show-badges="false"></person-select-component>

                <div style="max-height: 300px; overflow-y: scroll;">
                    <div v-for="member in staff" class="mt-2 border p-2 rounded wb-bg-secondary ">
                        <div class="d-flex justify-content-between">                        
                            <div class="d-flex">
                                <div @click="member.expanded = !member.expanded" class="cursor-pointer">
                                    <i :class="member.expanded ? 'fas fa-chevron-down' : 'fas fa-chevron-right'"></i>
                                </div>
                                
                                <div class="fw-bold ms-2">
                                    [[member.fullName]]
                                </div>
                            </div>

                            <div>
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" v-model="member.fullAccess">
                                    Full Tilgang
                                    <span>
                                        (
                                        <i class="fas fa-question-circle" data-bs-toggle="tooltip" data-bs-placement="top"
                                            title="Gi alle rettigheter til medlemmet. Dette vil overstyre alle andre innstillinger."></i>
                                        )
                                    </span>
                                </label>
                            </div>
                        </div>
                        

                        <div v-if="member.expanded">
                            <div>
                                <label class="form-check-label text-small ">
                                    <input type="checkbox" class="form-check-input" v-model="member.can_respond_to_orders">
                                    Kan besvare forespørsler
                                    <span>
                                        (
                                        <i class="fas fa-question-circle" data-bs-toggle="tooltip" data-bs-placement="top"
                                            title="Gir tilgang til å tildele personell til tider på forespørsler."></i>
                                        )
                                    </span>
                                </label>
                            </div>
                            <div>
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" v-model="member.can_provision_orders">
                                    Kan tildele personell
                                    <span>
                                        (
                                        <i class="fas fa-question-circle" data-bs-toggle="tooltip" data-bs-placement="top"
                                            title="Gir tilgang til å tildele personell til tider på forespørsler."></i>
                                        )
                                    </span>
                                </label>
                            </div>
                            <div>
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" v-model="member.can_define_preconfigurations">
                                    Kan administrere prekonfigurasjoner
                                    <span>
                                        (
                                        <i class="fas fa-question-circle" data-bs-toggle="tooltip" data-bs-placement="top"
                                            title="Gir tilgang til å opprette og endre prekonfigurasjoner for tjenesten."></i>
                                        )
                                    </span>
                                </label>
                            </div>
                            <div>
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" v-model="member.can_administrate_personell">
                                    Kan administrere personell
                                    <span>
                                        (
                                        <i class="fas fa-question-circle" data-bs-toggle="tooltip" data-bs-placement="top"
                                            title="Gir tilgang til å legge til og fjerne personell for tjenesten."></i>
                                        )
                                    </span>
                                </label>
                            </div>
                            <div>
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" v-model="member.can_administrate_staff">
                                    Kan administrere ansvarlige
                                    <span>
                                        (
                                        <i class="fas fa-question-circle" data-bs-toggle="tooltip" data-bs-placement="top"
                                            title="Gir tilgang til å legge til, fjerne og endre ansvarlige for tjenesten."></i>
                                        )
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="small text-muted mt-2">
                    Ansvarlige vil være medlemmer av denne tjenesten, og vil kunne se og besvare forespørsler som kommer inn.
                    Mer detaljert tilgangsstyring vil kunne gjøres etter opprettelse av tjenesten.
                </div>

            </div>
            <div class="mt-3">
                <label for="" class="h5">Personell</label>
                <person-select-component v-model="personell"></person-select-component>

                <div class="small text-muted mt-2">
                    Personell er de som vil utføre tjenesten. Ved behandling av forespørsler vil disse kunne settes opp på tider.
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <label for="service-description" class="h5">Beskrivelse</label>
                    <textarea id="service-description" class="form-control" rows="3" placeholder="Beskrivelse" v-model="serviceDescription"></textarea>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-12">
                    <label for="">Aktiv</label>
                    <input type="checkbox" id="is-active" class="form-check-input ms-2" v-model="isActive">
                </div>

                <div class="alert alert-success mt-2" v-if="isActive">
                    <strong>Merk:</strong> Tjenesten vil opprettes som aktiv.
                    <br>
                    Du kan endre dette senere.
                </div>
                <div v-else class="alert alert-warning mt-2">
                    <strong>Merk:</strong> Tjenesten vil ikke være tilgjengelig for bestilling inntil aktivert.
                    <br>
                    Du kan endre dette senere.

                </div>
            </div>
        </template>
        <template #modal-footer>
            <button type="button" class="btn wb-btn-secondary" @click="$emit('close')">Lukk</button>
            <button type="button" class="btn wb-btn-main" @click="createService()">Opprett</button>
        </template>
    </mdb-modal-component>
</template>

<script>
    let CreateServiceModalComponent = {
        props: {
            isVisible: {
                title: 'Visible',
                type: Boolean,
                default: false
            },
        },
        data: function () {
            return {
                serviceName: null,
                staff: [],
                personell: [],
                serviceDescription: null,
                isActive: false,
                showServiceNameMissingError: false,
            }
        },
        methods: {
            fullAccess(member) {
                member.can_respond_to_orders = member.fullAccess;
                member.can_provision_orders = member.fullAccess;
                member.can_define_preconfigurations = member.fullAccess;
                member.can_administrate_personell = member.fullAccess;
                member.can_administrate_staff = member.fullAccess;
                console.log("fullAccess", member);
            },
            async createService() {
                if (!this.serviceName) {
                    this.showServiceNameMissingError = true;
                    return;
                }

                const createdService = await fetch("/api/arrangement/service/", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}',
                    },
                    body: JSON.stringify({
                        name: this.serviceName,
                        description: this.serviceDescription,
                        is_active: this.isActive,
                    })
                }).then((response) => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                }).catch((error) => {
                    console.error('Error:', error);
                    toastr.error('Det oppstod en feil under opprettelse av tjenesten.');
                });

                for (const staffMember of this.staff) {
                    await fetch("/api/arrangement/service/" + createdService.id + "/staff", {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}',
                        },
                        body: JSON.stringify({
                            person_id: staffMember.id,
                            service_id: createdService.id,
                            can_respond_to_orders: staffMember.can_respond_to_orders || false,
                            can_provision_orders: staffMember.can_provision_orders || false,
                            can_define_preconfigurations: staffMember.can_define_preconfigurations || false,
                            can_administrate_personell: staffMember.can_administrate_personell || false,
                            can_administrate_staff: staffMember.can_administrate_staff || false
                        })
                    }).then((response) => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                    }).catch((error) => {
                        console.error('Error:', error);
                        toastr.error('Det oppstod en feil under opprettelse av tjenesten.');
                    });
                }

                for (const personellMember of this.personell) {
                    await fetch(`/api/arrangement/service/personell/add?id=${createdService.id}&related_id=${personellMember.id}`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}',
                        },
                        body: JSON.stringify({
                            id: createdService.id,
                            related_id: personellMember.id,
                        })
                    }).then((response) => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                    }).catch((error) => {
                        console.error('Error:', error);
                        toastr.error('Det oppstod en feil under opprettelse av tjenesten.');
                    });
                }

                toastr.success('Tjenesten ble opprettet.');
                this.$emit('close');
                this.$emit('serviceCreated', createdService);
            },
            removeMember(member) {
                this.staff = this.staff.filter((m) => m.id !== member.id);
            }
        },
        watch: {
            serviceName: function (newValue) {
                this.showServiceNameMissingError = newValue ? false : true;
            },
            staff: {
                handler: function (newValue, oldValue) {
                    console.log("Staff changed", newValue, oldValue);
                    for (let i = 0; i < newValue.length; i++) {
                        console.log("fullAccess", newValue[i]?.fullAccess, oldValue[i]?.fullAccess);
                        if (newValue[i].fullAccess !== oldValue[i]?.fullAccess) {
                            this.fullAccess(newValue[i]);
                        }
                    }
                },
                deep: true
            }
        },
        emits: [
            'close',
            'serviceCreated'
        ],
        components: {
            MdbModalComponent,
            PersonSelectComponent,
        },
        template: '#vuec-create-service-modal-component-template',
        delimiters: ['[[', ']]'],
    }
</script>