{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}Logg Ut{% endblock %}

{% block noheader %}
{% endblock %}

{% block inner %}
<h1><i class="fas fa-door-open mt-5"></i></h1>

<h1>Logg Ut</h1>

<p>Er du sikker på at du ønsker å logge ut?</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}


  <a class="btn btn-lg wb-btn-secondary" href="{% url 'users:detail' request.user.slug %}">Avbryt</a>
  <button class="btn btn-lg wb-btn-main" type="submit">Logg Ut</button>
</form>


{% endblock %}

