{% extends request.user.is_authenticated|yesno:"base.html,public_base.html" %}
{% load static i18n %}

{% block title %}{% trans "Server Error" %}{% endblock %}

{% block content %}
<h1>500</h1>

<h3>{% trans "Looks like something went wrong!" %}</h3>

<p>{% trans "We track these errors automatically, but if the problem persists feel free to contact us through the channels listed beneath. In the meantime, try refreshing." %}</p>

<br>
{% include 'error_contact.html' %}

{% endblock content %}


