{% load static i18n %}
{% load crumbinator_filters %}
{% load custom_tags %}


{{ MESSAGES_SERIALIZABLE | json_script:"queuedMessages" }}


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %} {{ APP_TITLE }} {% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">

    {% block css %}
    <!-- Third-party CSS libraries go here -->
    <!-- <link href="{% static 'css/mdb.min.css' %}" rel="stylesheet"> -->
    <link href="{{ ASSET_SERVER_URL }}mdb/css/mdb.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ ASSET_SERVER_URL }}mdb/plugins/css/color-picker.min.css">
    <link rel="stylesheet" href="{{ ASSET_SERVER_URL }}mdb/plugins/css/wysiwyg.min.css">
    <link rel="stylesheet" href="{% static 'vis-timeline/styles/vis-timeline-graph2d.min.css' %}" />
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="{% static 'fullcalendar-scheduler/main.min.css' %}">
    <link rel="stylesheet" href="{% static '@fonticonpicker/fonticonpicker/dist/css/base/jquery.fonticonpicker.min.css' %}">
    <link rel="stylesheet" href="{% static '@fonticonpicker/fonticonpicker/dist/css/themes/bootstrap-theme/jquery.fonticonpicker.bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.12/themes/default-dark/style.min.css" integrity="sha512-G2U+dh7e2qpH9e1PZdGb7Hp+/uoiPbbEt3dGdU3G+eX+j3ZdnTSRL7s6jgXu94SeQBV1lOUr50kGQ99j2Vj3CA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="{{ ASSET_SERVER_URL }}mdb/plugins/css/file-upload.min.css">
    <!-- <link rel="stylesheet" href="{% static 'jquery-treetable/css/jquery.treetable.css' %}" />
     -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-treetable/3.2.0/css/jquery.treetable.css" integrity="sha512-l1bJ1VnsPD+m5ZYhfcl9PrJgbCQixXtQ/zs423QYu0w1xDGXJOSC0TmorOocaYY8md5+YMRcxZ/UgjyOSIlTYw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
     <link rel="stylesheet" href="{% static 'css/jquery.treetable.theme.webook.css' %}">
     <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-treetable/3.2.0/css/jquery.treetable.theme.default.css" integrity="sha512-S0Z8qdW2IlHsTsra73PQ9cTRAFIugG853UK9hkv6CZ/H6MemHuZokEQKhjtvQEQ1NpQuaheq1wcGcrY46PK9og==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    <link href="{% static 'css/nasj_style.css' %}" rel="stylesheet">


    <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js" integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0=" crossorigin="anonymous"></script>

    <script src="{% static 'js/mdbSelectExt.js' %}"></script>
    <script src="{% static 'vis-timeline/standalone/umd/vis-timeline-graph2d.js' %}"></script>
    <script src="https://kit.fontawesome.com/db5ee7e46d.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Akshar:wght@600&family=Lato:wght@300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Lato:ital,wght@1,300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet"> 

    <script src="{% static 'vue/dist/vue.global.js' %}"></script>

    <!-- Main Quill library -->
    <script src="//cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="//cdn.quilljs.com/1.3.6/quill.min.js"></script>

    <!-- Theme included stylesheets -->
    <link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <link href="//cdn.quilljs.com/1.3.6/quill.bubble.css" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />



    {% endblock %}

  </head>

  <body>
      <style>
        .header-padded-in {
          padding-left: 240px;
        }

        .container-sidebar-padded-in {
          padding-left: 280px;
        }

        INPUT:-webkit-autofill,SELECT:-webkit-autofill,TEXTAREA:-webkit-autofill{animation-name:onautofillstart}INPUT:not(:-webkit-autofill),SELECT:not(:-webkit-autofill),TEXTAREA:not(:-webkit-autofill){animation-name:onautofillcancel}@keyframes onautofillstart{from{}}@keyframes onautofillcancel{from{}}
      </style>

    <div style="display:flex; height: 100%;" class="border-tooltip">
      <div style="display: flex; flex-direction: column; height: 100%;" class="text-center border-end  p-2">

        <div class="sticky-top">
        <a class="ripple d-flex justify-content-center mt-3 mb-3" href="#!" data-mdb-ripple-color="primary">
          <img id="app-logo" src="/{{ APP_LOGO }}" alt="App Logo" width="40px" draggable="false">
        </a>
        {% with request.resolver_match.url_name as url_name %}

        <a href="{% url 'users:detail' request.user.slug %}" class="mt-5 wb-sidebar-item p-2 pt-3 pb-3 d-block"
            {% if url_name == 'detail' %} active text-dark wb-bg-secondary border-dark border shadow-4 {% endif %}">
          <div>
            <i class="fas fa-home h2 mb-0"></i>
          </div>
          <small class="fw-bold">Hjem</small>
        </a>

        <a href="{% url 'arrangement:planner_calendar' %}" class="wb-sidebar-item p-2 pt-3 pb-3 d-block
              {% if url_name == 'planner_calendar' %} active text-dark bg-weak-success border-dark border shadow-4 {% endif %}">
          <div>
            <i class="fas fa-calendar-plus text-success h2 mb-0"></i>
          </div>
          <small class="fw-bold">Planlegging</small>
        </a>
        
        {% if user|has_group:"planners" %}
        <a href="{% url 'arrangement:location_list' %}" class="wb-sidebar-item p-2 pt-3 pb-3 d-block
              {% if url_name == 'location_list' %} active text-dark bg-weak-secondary border-dark border shadow-4 {% endif %}">
          <div>
            <i class="fas fa-building text-secondary h2 mb-0"></i>
          </div>
          <small class="fw-bold">Lokasjoner</small>
        </a>

        <a href="{% url 'arrangement:room_preset_list' %}" class="wb-sidebar-item p-2 pt-3 pb-3 d-block
              {% if url_name == 'room_preset_list' %} active text-dark bg-weak-secondary border-dark border shadow-4 {% endif %}">
          <div>
            <i class="fas fa-layer-group text-secondary h2 mb-0"></i>
          </div>
          <small class="fw-bold">Presets</small>
        </a>

        <a href="{% url 'arrangement:organization_list' %}" class="wb-sidebar-item p-2 pt-3 pb-3 d-block
              {% if url_name == 'organization_list' %} active text-dark bg-weak-primary border-dark border shadow-4 {% endif %}">
          <div>
            <i class="fas fa-dollar-sign text-primary h2 mb-0"></i>
          </div>
          <small class="fw-bold">Kunder</small>
        </a>

        <a href="{% url 'arrangement:person_list' %}" class="wb-sidebar-item p-2 pt-3 pb-3 d-block
              {% if url_name == 'person_list' %} active text-dark bg-weak-primary border-dark border shadow-4 {% endif %}">
          <div>
            <i class="fas fa-users text-primary h2 mb-0"></i>
          </div>
          <small class="fw-bold">Personer</small>
        </a>
        <div>
          <a href="#" id="toggleOthersPopover"
             class="{% if url_name == 'arrangement_type_list' or url_name == 'organizationtype_list' or url_name == 'servicetype_list' %}
                    active text-dark bg-weak-info shadow-4  border-dark border d-block
                    {% endif %} wb-sidebar-item p-2 pt-3 pb-3">
            <div>
              <i class="fas fa-cog text-info h2 mb-0"></i>
            </div>
            <small class="fw-bolder">Annet</small>
          </a>

          <span class="popover_wrapper wb-popover-sidebar" id="othersPopover">
            <span class="popover_content">
              <h4 class="text-start"><i class="fas fa-cog"></i>&nbsp; Annet...</h4>
              <span style="display: flex; flex-direction: column; align-items: center;">
                <a href="{% url 'arrangement:servicetype_list' %}"
                   class="btn btn-block wb-btn-secondary p-2 text-start wb-sidebar-item-nested d-block
                          {% if not url_name == 'servicetype_list' %} bg-white border {% else %} active {% endif %}">
                  <i class="fas fa-dollar-sign"></i>&nbsp;
                  Tjenestetyper
                </a>
                <a href="{% url 'arrangement:organizationtype_list' %}"
                   class="btn btn-block wb-btn-secondary p-2 text-start wb-sidebar-item-nested d-block
                          {% if not url_name == 'organizationtype_list' %} bg-white border {% else %} active {% endif %}">
                  <i class="fas fa-dollar-sign"></i>&nbsp;
                  Organisasjonstyper
                </a>
                <a href="{% url 'arrangement:arrangement_type_list' %}"
                   class="btn btn-block wb-btn-secondary p-2 text-start wb-sidebar-item-nested d-block
                          {% if not url_name == 'arrangement_type_list' %} bg-white border {% else %} active {% endif %}">
                  <i class="fas fa-flask"></i>&nbsp;
                  Arrangementstyper
                </a>
                <a href="{% url 'arrangement:audience_list' %}"
                class="btn btn-block wb-btn-secondary p-2 text-start wb-sidebar-item-nested d-block
                       {% if not url_name == 'audience_list' %} bg-white border {% else %} active {% endif %}">
                  <i class="fas fa-flask"></i>&nbsp;
                  Målgrupper
                </a>
                <a href="{% url 'arrangement:statustype_list' %}"
                class="btn btn-block wb-btn-secondary p-2 text-start wb-sidebar-item-nested d-block
                       {% if not url_name == 'audience_list' %} bg-white border {% else %} active {% endif %}">
                  <i class="fas fa-flask"></i>&nbsp;
                  Statustyper
                </a>
              </span>
            </span>
          </span>
        </div>
        {% endif %}

        {% if user.is_superuser or user|has_group:"display_organizer" %}
        <div>
          <a href="#" id="toggleDisplayLayoutsPopover" class="wb-sidebar-item p-2 pt-3 pb-3 d-block">
            <div>
              <i class="fas fa-tv text-info h2 mb-0"></i>
            </div>
            <small class="fw-bolder">Skjermvisning</small>
          </a>

          <span class="popover_wrapper wb-popover-sidebar" id="displayLayoutsPopover">
            <span class="popover_content">
              <h4 class="text-start"><i class="fas fa-tv"></i>&nbsp; Skjermvisning...</h4>
              <span style="display: flex; flex-direction: column; align-items: center;">
                <a href="{% url 'screenshow:screen_list' %}"
                   class="btn btn-block wb-btn-secondary p-2 text-start wb-sidebar-item-nested d-block
                          {% if not url_name == 'screen_list' %} bg-white border {% else %} active {% endif %}">
                  {% trans "Screen Resource" %}
                </a>
                <a href="{% url 'screenshow:screen_group_list' %}"
                   class="btn btn-block wb-btn-secondary p-2 text-start wb-sidebar-item-nested d-block
                          {% if not url_name == 'screen_group_list' %} bg-white border {% else %} active {% endif %}">
                  {% trans "Screen Group" %}
                </a>
                <a href="{% url 'screenshow:layout_list' %}"
                  class="btn btn-block wb-btn-secondary p-2 text-start wb-sidebar-item-nested d-block
                       {% if not url_name == 'layout_list' %} bg-white border {% else %} active {% endif %}">
                  {% trans "Display Layout" %}
                </a>
            </span>
          </span>
        </div>
        {% endif %}

        <hr>
        
        {% if user.is_superuser or user.is_user_admin %}
        <a href="{% url 'users:user_admin_list' %}" class="wb-sidebar-item p-2 pt-3 pb-3 d-block">
          <div>
            <i class="fas fa-user-shield text-dark h2 mb-0"></i>
          </div>
          <small class="fw-bold">Brukere</small>
        </a>
        {% endif %}



        <a href="{% url 'account_logout' %}" class="wb-sidebar-item p-2 pt-3 pb-3 d-block">
          <div>
            <i class="fas fa-door-open text-danger h2 mb-0"></i>
          </div>
          <small class="fw-bold">Logg ut</small>
        </a>

        {% endwith %}
      </div>
      </div>
      
      <div class="w-100">
        <header>
          <nav id="top-navbar" class="navbar navbar-expand-lg navbar-light shadow-0 border-bottom">
            <div class="container-fluid d-flex">
              <h2 class=" mb-0 ms-2 wb-text-main text-uppercase">{{APP_TITLE}}</h2>
              <ul class="navbar-nav ms-auto d-flex flex-row">
                <!-- Search form -->
   
                {% if user.is_superuser %}
                <button class="badge badge-danger me-4"
                  data-mdb-toggle="tooltip"
                  onclick="location.href = '{% url 'admin:index' %}'"  
                  title="{% trans 'Go to the Django Administration panel' %}">
                  <i class="fas fa-user-shield text-dark"></i>&nbsp;
                  Django Administration Panel
                </button>
                {% endif %}

                <form class="d-none d-md-flex input-group input-group-lg w-auto my-auto">
                  <input autocomplete="off" type="search" class="form-control rounded" placeholder="{% blocktrans %}Search (ctrl + &quot;/&quot; to focus){% endblocktrans %}" style="min-width: 225px">
                  <span class="input-group-text border-0"><i class="fas fa-search" aria-hidden="true"></i></span>
                </form> 
                <!-- Notification dropdown -->
                <!-- <li class="nav-item dropdown">
                  <a class="nav-link me-4 me-lg-0 dropdown-toggle hidden-arrow" href="#" id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-bell" aria-hidden="true"></i>
                    <span class="badge rounded-pill badge-notification bg-danger">1</span>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="#">Some news</a></li>
                    <li><a class="dropdown-item" href="#">Another news</a></li>
                    <li>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </li>
                  </ul>
                </li> -->
              </ul>
              {% if request.user.is_authenticated %}
                <div class="btn-group shadow-0">
                  <button
                    type="button"
                    class="btn btn-lg ms-3 btn-webook text-white fw-bolJd dropdown-toggle"
                    data-mdb-toggle="dropdown"
                    aria-expanded="false"
                  >
                  <i class="fa fa-user"></i>&nbsp;
                    {% if request.user.person and request.user.person.first_name %}
                      Hei, {{ request.user.person.first_name }}
                    {% else %}
                      Hei, (ingen person)
                    {% endif %}
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'users:detail' slug=request.user.slug %}"><i class="la la-user"></i>&nbsp; {% trans "My Profile" %}</a></li>
                    <li>
                      <hr class="dropdown-divider" />
                    </li>
                    <li><a class="dropdown-item" href="{% url 'account_logout' %}"><i class="la la-times-circle"></i>&nbsp; {% trans "Sign Out" %}</a></li>
                  </ul>
                </div>
              {% else %}
                <a id="log-in-link" class="btn btn-success" href="{% url 'account_login' %}"><i class="la la-lock-open"></i> {% trans "Sign In" %}</a>
                <a id="sign-up-link" class="btn btn-info ms-2" href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a>
              {% endif %}
            </div>
          </nav>
          <!-- Navbar -->
        </header> 
        <div  id="mainBodyContainer" class="{% block container_classes %} container {% endblock %}">
          {% block superheader %}
            <div class="mt-2"></div>
          {% endblock %}
          {% block noheader %}
          <section>
            <h1 class="h1 mb-0 text-muted h2 header-fonted">
              <i class="{% block section_icon_class %}{% endblock %}"></i>
              {% block section_title_block %}
              
              {% block section_title %}
              {% endblock section_title%}

              {% comment %} <span class="header-fonted">

              {% comment %} </span> {% endcomment %}
              {% comment %} <small class="text-muted h4">{% block section_subtitle %}{% endblock %}</small> {% endcomment %}
              {% endblock section_title_block %}
            </h1>
            
            <div class="crumbs-without-margin-bottom">
              {% if CRUMBS  %}
                {{ CRUMBS|crumbinator }}
              {% endif %}
            </div>
            <div class="mt-3">
              {% block beneath_breadcrumbs_block %}
              {% endblock %}
            </div>
          </section>
          {% endblock %}
        </section>
    
    
        <div class="mb-4"></div>
    
        {% block content %}
        {% endblock %}
    
        </div> <!-- /container -->
      </div>
    </div>

    {% block modal %}{% endblock modal %}

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block javascript %}

      <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script> -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.9.2/jquery.contextMenu.min.js" integrity="sha512-kvg/Lknti7OoAw0GqMBP8B+7cGHvp4M9O9V6nAYG91FZVDMW3Xkkq5qrdMhrXiawahqU7IZ5CNsY/wWy1PpGTQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

      <!-- Your stuff: Third-party javascript libraries go here -->
      <script src="{{ ASSET_SERVER_URL }}mdb/js/mdb.min.js"></script>
      
      <script src="{{ ASSET_SERVER_URL }}mdb/plugins/js/color-picker.min.js"></script>
      <script src="{{ ASSET_SERVER_URL }}mdb/plugins/js/transfer.min.js"></script>

      <script src="{% static 'js/bootbox.min.js' %}"></script>
      <script src="{% static 'js/bootbox.locales.min.js' %}"></script>
      
      <script src="{% static 'js/luxon.js' %}"></script>
      <script src="{% static 'fullcalendar-scheduler/main.min.js' %}"></script>
      <script src="{% static 'fullcalendar-scheduler/locales-all.min.js' %}"></script>
      <!-- place project specific Javascript in this file -->
      <script src="{% static 'js/project.js' %}"></script>
      <script src="{% static 'js/components.js' %}"></script>
      <script src="https://unpkg.com/hotkeys-js/dist/hotkeys.min.js"></script>
      <script src="{% static '@fonticonpicker/fonticonpicker/dist/js/jquery.fonticonpicker.min.js' %}"></script>
      <script src="{{ ASSET_SERVER_URL }}mdb/plugins/js/file-upload.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
      <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.11.5/af-2.3.7/b-2.2.2/b-colvis-2.2.2/b-html5-2.2.2/b-print-2.2.2/cr-1.5.5/date-1.1.2/fc-4.0.2/fh-3.2.2/kt-2.6.4/r-2.2.9/rg-1.1.4/rr-1.2.8/sc-2.0.5/sb-1.3.2/sp-2.0.0/sl-1.3.4/sr-1.1.0/datatables.min.js"></script>
      <script src="{% static 'js/sweetalert2.js' %}"></script>

      <!-- <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.12/jstree.min.js" integrity="sha512-TGClBy3S4qrWJtzel4qMtXsmM0Y9cap6QwRm3zo1MpVjvIURa90YYz5weeh6nvDGKZf/x3hrl1zzHW/uygftKg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <script src="{% static 'colorjs.io/dist/color.js' %}"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-treetable/3.2.0/jquery.treetable.min.js" integrity="sha512-2pYVakljd2zLnVvVC264Ib+XGvOvu3iFyKCIwLzn77mfbjuVi1dGJUxGjDAI8MjgPgTfSIM/vZirW04LCQmY2Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <script type="module">
        import dialogApi from "{% static 'modules/planner/dialog_manager/dialogApi.js' %}";
        import { Popover } from "{% static 'js/popover.js' %}";
        import { MessagesFacility } from "{% static 'modules/planner/broadcast.js' %}";

        $(document).ready(function () {
          window.MessagesFacility = new MessagesFacility();
        });

        const othersPopover = new Popover({
            triggerElement: document.getElementById('toggleOthersPopover'),
            wrapperElement: document.getElementById('othersPopover'),
        });

        {% if user.is_superuser or user|has_group:"display_organizer" %}
        const displayLayoutsPopover = new Popover({
          triggerElement: document.getElementById('toggleDisplayLayoutsPopover'),
          wrapperElement: document.getElementById('displayLayoutsPopover'),
        });
        {% endif %}

        window.dialogApi = dialogApi;
      </script>

      <script>
        window.sharedUrls = {
          mdb: "{{ ASSET_SERVER_URL }}mdb/css/mdb.min.css",
          base: "/static/css/base.css",
          fontAwesome: 'https://kit.fontawesome.com/db5ee7e46d.js'
        }

        $(document).ready(function() {
          let queuedMessages = JSON.parse(document.getElementById('queuedMessages').textContent);
          tagToToastrFuncMap = new Map([
            [
              "success",
              toastr.success
            ],
            [
              "info",
              toastr.info
            ],
            [
              "warning",
              toastr.warning
            ],
            [
              "danger",
              toastr.danger
            ]
          ])
          queuedMessages.forEach(element => {
            var toastrFunc = toastr.info;
            if (tagToToastrFuncMap.has(element.tag)) {
              toastrFunc = tagToToastrFuncMap.get(element.tag);
            }

            toastrFunc(element.message);
          });
        })

        toastr.options = {
          "closeButton": false,
          "debug": false,
          "newestOnTop": false,
          "progressBar": false,
          "positionClass": "toast-bottom-right",
          "preventDuplicates": false,
          "onclick": null,
          "showDuration": "300",
          "hideDuration": "1000",
          "timeOut": "5000",
          "extendedTimeOut": "1000",
          "showEasing": "swing",
          "hideEasing": "linear",
          "showMethod": "fadeIn",
          "hideMethod": "fadeOut"
        }
      </script>
    {% endblock javascript %}
  </body>
</html>
