DATABASE_URL=postgres://myuser:mypasswd@localhost:5432/everycheese

### Application Config
# --> Name of the application instance, will appear throughout
#APP_TITLE=WeBook
#APP_CUSTOMER=WeBook
#APP_VERSION=0.0.1
# --> Logo of the application
#APP_LOGO=/static/images/wemade_logo.jpg

### Licenses
# --> License key to FullCalendar.
# FULLCALENDAR_LICENSE_KEY=YourLicenseKey
# FULLCALENDAR_LICENSE_KEY='GPL-My-Project-Is-Open-Source'

### Assets
# --> Asset server URL
# NOTE: This is temporary until we can get a NPM proxy working, and will be deprecated thusly.
#ASSET_SERVER_URL=localhost

### Mailgun email server
# MAILGUN_API_KEY=YourMailgunAPIKey
# MAILGUN_DOMAIN=YourMailgunDomain
# MAILGUN_API_URL=https://api.mailgun.net/v3/YourMailgunDomain
