# Sample DATABASE URL for Windows until PostgreSQL 12 finally receive official support for Windows 10
DATABASE_URL=sqlite:///everycheese.db

### Application Config
# --> Name of the application instance, will appear throughout
#APP_TITLE=WeBook
# --> Logo of the application
#APP_LOGO=/static/images/wemade_logo.jpg

### Licenses
# --> License key to FullCalendar.
# FULLCALENDAR_LICENSE_KEY=YourLicenseKey

### Assets
# --> Asset server URL
# NOTE: This is temporary until we can get a NPM proxy working, and will be deprecated thusly.
#ASSET_SERVER_URL=localhost

