
{% load static i18n %}

{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.9.2/jquery.contextMenu.css" integrity="sha512-EF5k2tHv4ShZB7zESroCVlbLaZq2n8t1i8mr32tgX0cyoHc3GfxuP7IoT8w/pD+vyoq7ye//qkFEqQao7Ofrag==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="{% static 'css/planner.css' %}">
<link rel="stylesheet" href="{% static 'css/loadingHint.css' %}">

<script src="https://dragselect.com/v2/ds.min.js"></script>
<script src="https://unpkg.com/hotkeys-js/dist/hotkeys.min.js"></script>

<h3>Arrangementsplanlegger</h3>
<a class="btn btn-lg btn-wemade mb-2" style="box-shadow: none;" href="{% url 'arrangement:arrangement_list' %}"><i class="fas fa-list"></i>&nbsp; Til arrangementslisten</a>
<a class="btn btn-lg btn-wemade mb-2" style="box-shadow: none;" href="{% url 'arrangement:arrangement_create' %}"><i class="fas fa-plus"></i>&nbsp; Nytt arrangement</a>

<div class="row">
  <div class="col-10">
    <div class="input-group mb-3">
    </div>
  </div>
  <div class="col-2">
    <div class="clearfix">
    </div>
  </div>
</div>
  
<div class="row">
  <div class="col-12">
  <div class="form-outline w-100" id="arrangementSearch">
    <input type="text"  class="form-control form-control-lg" />
    <label class="form-label" for="formControlLg">{{ object.name }}</label>

    <div class="autocomplete-custom-content">
    </div>
  </div>
</div>
</div>
    <div class="col-12 mb-4 card p-3 mt-5"  style="box-shadow: none;">
      <div class="text-center">
        <h2 class="h1 mb-0 fw-bolder">{{ object.name }}</h2>
        <h3 class="h3">{{ object.starts }} - {{ object.ends }}</h3>
        <div class="">
          <div class="btn-group mt-3 mb-3" style="box-shadow:none;">
            <!-- <button class="btn btn-md btn-warning" disabled style="box-shadow: none;" data-mdb-toggle="tooltip" title="Lås dette arrangementet"><span class="h6 text-white"><i class="fas fa-lock"></i>&nbsp; Lås arrangement</span></button> -->
            <!-- <button class="btn btn-md btn-white" style="box-shadow: none;" data-mdb-toggle="tooltip" title="Arkiver dette arrangementet"><span class="h6 text-danger"><i class="fas fa-archive"></i>&nbsp; Arkiver</span></button> -->
            <a href="{% url 'arrangement:arrangement_edit' slug=object.slug %}" class="btn btn-md btn-white" style="box-shadow: none;" data-mdb-toggle="tooltip" title="Rediger dette arrangementet"><span class="h6 text-success"><i class="fas fa-edit"></i>&nbsp; Rediger</a>
            <!-- <button class="btn btn-md btn-white" style="box-shadow: none;" data-mdb-toggle="tooltip" title="Kopier dette arrangementet"><span class="h6 text-success"><i class="fas fa-copy"></i>&nbsp; Kopier</span></button> -->
          </div>
        </div>
      </div>
      
    </div>
      <ul class="nav light-tabs nav-tabs rounded-top" id="navTabs" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link text-center" id="overview-tab" data-mdb-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="true">
            <span class="h6 mb-0"><i class="fas fa-eye"></i></span>
            &nbsp; <span class="h6">Oversikt</span></button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link active text-center" id="planner-tab" data-mdb-toggle="tab" href="#planner" role="tab" aria-controls="planner" aria-selected="true"
              onclick="calendarManager.redraw();">
            <span class="h6 mb-0"><i class="fas fa-calendar"></i></span>
            &nbsp; <span class="h6">Planlegging</span></button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="planners-tab" data-mdb-toggle="tab" href="#planners" role="tab" aria-controls="planners" aria-selected="false">
            <span class="h6 mb-0"><i class="fas fa-users"></i></span>
            &nbsp; <span class="h6">Planleggere</span>
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="notes-tab" data-mdb-toggle="tab" href="#notes" role="tab" aria-controls="notes" aria-selected="false">
            <span class="h6 mb-0"><i class="fas fa-comments"></i></span>
            &nbsp; <span class="h6">Notater</span></button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="receipts-tab" data-mdb-toggle="tab" href="#receipts" role="tab" aria-controls="receipts" aria-selected="false">
            <span class="h6 mb-0"><i class="fas fa-receipt"></i></span>
            &nbsp; <span class="h6">Kvitteringer & Bestillinger</span>
          </button>
        </li>
      </ul>
      <hr>

    <div class="clearfix card p-0" style="box-shadow: none;">
    <div class="tab-content p-3" id="myTabContent">
      <div class="tab-pane" id="overview" role="tabpanel" aria-labelledby="overview-tab">
      <div class="row mt-0">
        <div class="col-lg-12 col-md-6 mb-4">
          <div class="text-center card border" style="box-shadow: none;">
            
            <div class="p-2 text-center">
              <h2 class="h3 mb-0 text-muted fw-bolder">Stadie</h2>
            </div>
            
            <div class="progress mb-3">
              <div class="progress-bar bg-success" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            
            <div class="p-2">
              <h2 class="h1 mb-0 text-success">PLANLEGGING</h2>
              <em class="small">Arrangementet er i planleggingsstadiet</em>
            </div>
            
            <!-- <button class="btn btn-lg btn-white rounded-0 rounded-bottom" style="box-shadow: none;">
              <i class="fas fa-cogs"></i>
              Administrer status
            </button> -->
          </div>
        </div>

        <div class="col-lg-6 col-md-12 mb-4">
          <div class="text-center card border"  style="box-shadow: none;">
            <div class="p-2 text-center">
              <h2 class="h3 mb-0 text-muted fw-bolder">Bestillinger</h2>
            </div>
            
            <div class="progress mb-3">
              <div class="progress-bar bg-success" role="progressbar" style="width: {{COMPLETED_SERVICE_PERCENTAGE}}%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            
            <h2 class="h1 mb-0">{{COMPLETED_SERVICE_REQUISITIONS}}/{{TOTAL_SERVICE_REQUISITIONS}}</h2>
            <em class="small"><strong>X</strong> av <strong>Y</strong> bestillinger er gjennomført, hvor <strong>Y</strong> er <abbr title="Løse bestillinger er bestillinger som har blitt satt opp i planleggeren, men bestillingen ikke gjennomført. De er derav i et ventestadie på utførelse.">løse bestillinger</abbr></em>

            <div class="btn group mb-0" style="box-shadow: none;">
              <a class="btn btn-lg btn-white rounded-0" style="box-shadow: none;"
                onclick="triggerTabClick('receipts-tab')">
                <i class="fas fa-list"></i>
                Vis bestillinger
              </a>
              <!-- <button class="btn btn-lg btn-white rounded-0 rounded-bottom" style="box-shadow: none;">
                <i class="fas fa-cogs"></i>
                Behandle
              </button> -->
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 mb-4">
          <div class="text-center card border" style="box-shadow: none;">
            <div class="p-2 text-center">
              <h2 class="h3 mb-0 text-muted fw-bolder">Kvitteringer</h2>
            </div>
            <div class="progress mb-3">
              <div class="progress-bar bg-success" role="progressbar" style="width: {{COMPLETED_PEOPLE_PERCENTAGE}}%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <h2 class="h1 mb-0">{{ COMPLETED_PEOPLE_REQUISITIONS }}/{{ TOTAL_PEOPLE_REQUISITIONS }}</h2>
            <em class="small"><strong>X</strong> av <strong>Y</strong> kvitteringer, hvor <strong>Y</strong> er <abbr title="Løse bestillinger er bestillinger som har blitt satt opp i planleggeren, men bestillingen ikke gjennomført. De er derav i et ventestadie på utførelse.">løse bestillinger</abbr></em>
            <div>
              <div class="btn-group" style="box-shadow: none;">
                <button class="btn btn-lg btn-white rounded-0 " style="box-shadow: none;"
                    onclick="triggerTabClick('receipts-tab')">
                  <i class="fas fa-list"></i>
                  Vis kvitteringer
                </button>
                <!-- <button class="btn btn-lg btn-white rounded-0 rounded-bottom" style="box-shadow: none;">
                  <i class="fas fa-cogs"></i>
                  Behandle
                </button> -->
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 mb-4">
          <div class="text-center card border" style="box-shadow: none;">
            <div class="p-2 text-center">
              <h2 class="h3 mb-0 text-muted fw-bolder">Målgruppe</h2>
            </div>

            <h2 class="h1 mb-0">{{ object.audience.name }}</h2>
          
            <div>
              <div class="btn-group" style="box-shadow: none;">
                <a class="btn btn-lg btn-white rounded-0" href="{% url 'arrangement:audience_detail' slug=object.audience.slug %}" style="box-shadow: none;">
                  <i class="fas fa-arrow-right"></i>
                  Gå til
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      </div>
      <div class="tab-pane fade show active" id="planner" role="tabpanel" aria-labelledby="planner-tab">
        <br>

        <div class="clearfix">
          <div class="float-end">
            <div class="mb-1 mt-1">
              <div>
                <button class="btn btn-lg btn-info" onclick="planner.collision_analyzer.requestCollisionAnalysis()" style="box-shadow: none;">
                  <i class="fas fa-flask"></i>&nbsp;
                  Kjør kollisjonsanalyse
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="btn-group float-start" style="box-shadow: none;">
          <button class="btn btn-info mb-2" onclick="iconsDialog.open()"><i class="fas fa-info"></i>&nbsp; {% trans "Icons" %}</button>
          <button class="btn btn-info mb-2"><i class="fas fa-info-circle"></i>&nbsp; {% trans "User guide" %}</button>
        </div>
        <div class="clearfix">
          <div class="btn-group float-end" style="box-shadow: none;">
            <button class="btn btn-success mb-2" onclick="newEventDialog()"><i class="fas fa-plus"></i>&nbsp; {% trans "New event" %}</button>
            <button class="btn btn-success mb-2" onclick="loadNewSerieDialog()"><i class="fas fa-plus"></i>&nbsp; {% trans "New repeating event" %}</button>
          </div>
        </div>

        <div id="collisionAnalysisWrapper" style="display: none;">
          <div class="mt-2 p-2" style="border: 3px dotted black; background-color: ghostwhite;">
            <legend class="fw-bolder">Kollisjonsanalyse</legend>
        
            <div id="collisionAnalysisLoader">
              <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
              </div> Analysis is being calculated...
            </div>
        
            <div id="collisionAnalysisBody">
            </div>
          </div>
        </div>
        
        <div id="designerCalendar" class="bg-white"></div>

      </div>
      <div class="tab-pane fade" id="planners" role="tabpanel" aria-labelledby="planners-tab"><br><span id="arrangement_plannersWrapper"></span></div>
      <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
        <span id="arrangementDetailsWrapper"></span>
      </div>
      <div class="tab-pane fade" id="notes" role="tabpanel" aria-labelledby="notes-tab"> <span id="arrrangementNotesWrapper"></span>
      </div>
      <div class="tab-pane fade" id="receipts" role="tabpanel" aria-labelledby="receipts-tab">    
        <div class="row mt-5">
          <div class="col-6">
            <span id="peopleRequisitionsWrapper"></span>
            <br>
            <span id="peopleToRequisitionWrapper"></span>
          </div>

          <div class="col-6">
            <span id="serviceRequisitionsWrapper"></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row g-0" style=" background-color: #21384B;">
    <div class="col-12 bg-white p-3 tabContent">
      <div class="tab-content" id="arrangement-content">
      </div>
    </div>
  </div>
</div>

<span class="loadingHint" id="loaderHint" style="display: none;">
  <div class="spinner-grow text-success hinterSpinner" style="width: 1rem; height: 1rem;" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <em class="small hinterMessage">Laster inn hendelser...</em>
</span>


  <script src="{% static 'fullcalendar-scheduler/main.min.js' %}"></script>
  <script src="{% static 'fullcalendar-scheduler/locales-all.min.js' %}"></script>
  <script src="{% static 'js/planner.js' %}"></script>
  <script src="{% static 'js/loadingHint.js' %}"></script>
  <script src="{% static 'js/inputGroupManager.js' %}"></script>
  
<script>
    let selectAllow = true;
    let arrangementAutoComplete = undefined;
    let optionsTab = undefined;

    function triggerTabClick(tabId) {
      let element = document.getElementById(tabId);
      
      var clickEvent = new MouseEvent("click", {
        "view": window,
        "bubbles": true,
        "cancelable": false,
      });

      element.dispatchEvent(clickEvent);
    }

    window.addEventListener('DOMContentLoaded', (event) => {
      bind_global_hotkeys();

      /** 
       * This is necessary due to FC losing "itself" on tab navigation and resizes.
       * **/
      const plannerTabEl = document.querySelector('#planner-tab');
      plannerTabEl.addEventListener('shown.mdb.tab', (event) => {
          calendarManager.redraw();
      })
      
      const receiptsAndOrdersTabEl = document.querySelector('#receipts-tab');
      receiptsAndOrdersTabEl.addEventListener('shown.mdb.tab', (event) => {
          planner.loose_requisitions_component.refresh();
          planner.people_requisitions_component.refresh();
          planner.people_to_requisition_component.refresh();
      })
      
      arrangementAutoComplete = new ArrangementAutoCompleteSearchComponent($('#arrangementSearch'))

      $('#arrrangementNotesWrapper').load('{% url "arrangement:notes_on_entity_component" %}?entityType=arrangement&entityPk={{object.pk}}');
      $('#arrangement_ordersWrapper').load('{% url "arrangement:requisitions_on_arrangement" %}?arrangementId={{object.pk}}');
      $('#arrangement_plannersWrapper').load('{% url "arrangement:planners_on_arrangement" %}?arrangementId={{object.pk}}');
      // $('#arrangementDetailsWrapper').load('{% url "arrangement:arrangement_edit" slug=object.slug %}')
    });

    function bind_global_hotkeys() {
      hotkeys('fn+n, fn+s', function (event, handler) {
        event.preventDefault();
        switch (handler.key) {
          case 'ctrl+z+n': 
            newEventDialog();
            break;
          case 'ctrl+z+s':
            loadNewSerieDialog();
            break;
        }
      });
    }
    
    class ArrangementAutoCompleteSearchComponent {
      constructor ($search_element) {
        this.$search_element = $search_element

        this._arrangementAsyncFilter = async (query) => {
          const url = `{% url "arrangement:arrangement_search" %}?term=${encodeURI(query)}`;
          const response = await fetch(url);
          const data = JSON.parse(await response.json());

          let arrangements = []
          for (let i = 0; i < data.length; i++) {
            let arrangement = data[i];

            if (arrangement.fields.slug !== "{{ object.slug }}") {
              arrangements.push(arrangement);
            }
          }

          return arrangements;
        }

        this._mdbAutocomplete = new mdb.Autocomplete(this.$search_element[0], {
          filter: this._arrangementAsyncFilter,
          displayValue: (value) => value.fields.name,
          customContent: `
            <div class="autocomplete-custom-content"></div>
          `
        });

        this._listen_to_select();
        this._listen_to_update();
      }

      _listen_to_update() {
        this.$search_element[0].addEventListener("update.mdb.autocomplete", (event) => {
          const resultsLength = event.results.length;

          setTimeout(() => {
            customContentContainer = document.querySelector('.autocomplete-custom-content');
            customContentContainer.innerHTML = `Search results: ${resultsLength}`
          }, 0)
        })
      }

      _listen_to_select() {
          this.$search_element[0].addEventListener('itemSelect.mdb.autocomplete', (event) => {
            location.href = "/arrangement/arrangement/" + event.value.fields.slug;
          })
      }
    }

    class SelectComponent {
        constructor (element_id, options) {
            this.element_id = element_id
            this.options = options
        }

        insert_options () {
            for (let [key, value] of this.options) {
                let option = document.createElement('option');
                option.setAttribute("value", key);
                option.innerText = value;
                document.getElementById(this.element_id).append(option);
            }
        }

        set_selected(value) {
          $("#" + this.element_id).val(value).change();
        }
    }

    class MonthSelectComponent extends SelectComponent {
        constructor (element_id) {
            let options = new Map([
              ["1", '{% trans "january" %}'],
              ["2", '{% trans "februar" %}'],
              ["3", '{% trans "march" %}'],
              ["4", '{% trans "april" %}'],
              ["5", '{% trans "may" %}'],
              ["6", '{% trans "june" %}'],
              ["7", '{% trans "july" %}'],
              ["8", '{% trans "august" %}'],
              ["9", '{% trans "september" %}'],
              ["10", '{% trans "october" %}'],
              ["11", '{% trans "november" %}'],
              ["12", '{% trans "december" %}'],
            ]);

            super(element_id, options)

            this.insert_options();
        }
    }

    class YearSelectComponent extends SelectComponent {
      constructor ({ element_id, breadth, focusYear } = {}) {

        let options = new Map();
        let years = [];

        for (let i = 0; i < breadth; i++) {
          years.push((focusYear + i), (focusYear + i));
          years.push((focusYear - i), (focusYear - 1));
        }

        years = years.sort();
        years.forEach( (item) => {
          options.set(item, item)
        })

        super(element_id, options);
        this.insert_options();
        this.set_selected(focusYear);
      }
    }

    function parseDateObjTimeToString (date_obj, separator=":", include_seconds=false) {
      let hours = String(date_obj.getHours());
      let minutes = String(date_obj.getMinutes());
      let seconds = String(date_obj.getSeconds());

      if (hours.length == 1) {
        hours = "0" + hours;
      }
      if (minutes.length == 1) {
        minutes += "0";
      }
      if (seconds.length == 1 && include_seconds === true) {
        seconds += "0";
      }

      return hours + separator + minutes + (include_seconds === true ? separator + seconds : "");
    }

    let translatedTextsMap = new Map([
      ["create", '{% trans "Create" %}'],
      ["edit", '{% trans "Edit" %}'],
      ["delete", '{% trans "Delete" %}'],
      ["info", '{% trans "Info" %}']
    ]);

    var planner = new Planner({
      onClickEditButton: function (eventId) { updateEventDialog(eventId); },
      onClickOrderServiceButton: function (events) { openOrderServiceDialog(events); },
      onSelectionCopied: function (clipboard) {
        let rootNode = $("<span></span>")
        clipboard.events.forEach(function (event) {
          rootNode.append($('<p>'+event.title+'</p>'))
        });
      },
      csrf_token: '{% csrf_token %}',
      csrf_token2: '{{ csrf_token }}',
      texts: translatedTextsMap,
      arrangement_id: {{ object.id }},
      $serviceRequisitionsWrapperEl: $('#serviceRequisitionsWrapper'),
      $peopleRequisitionsWrapperEl: $('#peopleRequisitionsWrapper'),
      $peopleToRequisitionWrapperEl: $('#peopleToRequisitionWrapper'),
    });

    var calendarManager = new CalendarManager(
      "designerCalendar",
      {
        "initialView": "dayGridMonth",
        "navLinks": true,
        "locale": 'nb',
        "weekNumbers": true,
        "selectable": true,
        "selectMirror": false,
        "loading": (isLoading) => {
          console.log(isLoading)
        },
        "editable": true,
        "unselectAuto": true,
        "selectMinDistance": 1,
        "select": function ( selectionInfo ) {
            eventDialogManager.flush();
            eventDialogManager.event_id.value = -1;

            eventDialogManager.fromDate.valueAsDate = selectionInfo.start;
            eventDialogManager.fromTime.value = parseDateObjTimeToString(selectionInfo.start);

            eventDialogManager.toDate.valueAsDate = selectionInfo.end;
            eventDialogManager.toTime.value = parseDateObjTimeToString(selectionInfo.end);

            eventDialogManager.title.value = "";

            $(eventEditDialog).modal('show');
        },
        "datesSet": function (arg) {

          $('.fc-daygrid-day').on('click', function () {
              calendarManager.cellSel.selectCell($(this));
          })

          $('.fc-timegrid-col, .fc-timegrid-slot').on('click', function () {
            calendarManager.cellSel.selectCell($(this));
          })

          calendarManager.setup_cell_select(arg.view.type);

          $('#monthNavigationSelect').val(arg.view.getCurrentData().currentDate.getMonth() + 1);
          $('#yearNavigationSelect').val(arg.view.getCurrentData().currentDate.getFullYear())

        },
        "headerToolbar": {
          "left": 'prev,next today',
          "center": 'title',
          "right": 'dayGridMonth,timeGridWeek,timeGridDay'
        } 
      },
    );

    planner.renderer_manager.add_renderer(calendarManager);
    planner.init()
  </script>

  {% include 'arrangement/planner/dialogs/edit_event.html' %}
  {% include 'arrangement/planner/dialogs/new_serie.html' %}
  {% include 'arrangement/planner/dialogs/order_service.html' %}
  {% include 'arrangement/planner/dialogs/allocate_rooms.html' %}
  {% include 'arrangement/planner/dialogs/allocate_people.html' %}
  {% include 'arrangement/planner/dialogs/color_selection.html' %}
  {% include 'arrangement/planner/dialogs/icons_dialog.html' %}
  {% include 'arrangement/requisitioneer/requisition_dialog.html' %}
{% endblock %}