{% extends "arrangement/meta_base.html" %}
{% load static i18n %}

{% block noheader %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.9.2/jquery.contextMenu.css" integrity="sha512-EF5k2tHv4ShZB7zESroCVlbLaZq2n8t1i8mr32tgX0cyoHc3GfxuP7IoT8w/pD+vyoq7ye//qkFEqQao7Ofrag==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="{% static 'css/planner.css' %}">
<link rel="stylesheet" href="{% static 'css/loadingHint.css' %}">

<script src="https://dragselect.com/v2/ds.min.js"></script>
<script src="https://unpkg.com/hotkeys-js/dist/hotkeys.min.js"></script>

<style>
    legend.group-border {
        font-family: 'Roboto', sans-serif;
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        border-bottom: none;
    }
    fieldset.group-border {
        border: 1px groove #ddd !important;
        padding: 0 1.4em 1.4em 1.4em !important;
        margin: 0 0 1.5em 0 !important;
        -webkit-box-shadow: 0px 0px 0px 0px #000;
        box-shadow: 0px 0px 0px 0px #000;
    }
</style>

<h1 class="header-fonted">Planlegger</h1>
<select class="select"></select>
<div class="clearfix">
    <div class="fc mb-0 p-0 float-start">
        <div class="fc-header-toolbar fc-toolbar fc-toolbar-ltr mb-0">
            <div class="fc-button-group">
                <a class="fc-button fc-button-primary fc-arrangementsCalendarButton-button"
                   id="newArrangementBtn"> 
                   <i class="fas fa-plus"></i>&nbsp;
                    Planlegg nytt arrangement
                </a>
            </div>
        </div>
    </div>
    
    <!-- <div class="fc mb-0 p-0 float-end">
        <div class="fc-header-toolbar fc-toolbar fc-toolbar-ltr mb-0">
            <div class="fc-button-group">
                <a class="fc-button fc-button-primary fc-arrangementsCalendarButton-button"
                   id="newArrangementBtn"> 
                   <i class="fas fa-palette"></i>&nbsp;
                    Fargelegende
                </a>
            </div>
        </div>
    </div> -->
</div>



{% endblock %}

{% block content %}

<div class="row">
    <div class="col-2">
        <div  id="plannerCalendarFilter">
            <div class="form-outline datepicker">
                <input type="text" class="form-control form-control-lg" id="exampleDatepicker11" />
                <label for="exampleDatepicker11" class="form-label">Dato</label>
              </div>
        </div>

        <!-- <div class="mt-4">
            <span class="dayCircle active fw-bold">M</span>
            <span class="dayCircle active fw-bold">T</span>
            <span class="dayCircle active fw-bold">O</span>
            <span class="dayCircle active fw-bold">T</span>
            <span class="dayCircle active fw-bold">F</span>
            <span class="dayCircle fw-bold">L</span>
            <span class="dayCircle fw-bold">S</span>
        </div> -->


        <div class="mt-4" id="plannerCalendarFilter">
            <div class="mb-2">
                <select class="select form-control" id="plannerCalendarFilter_arrangementTypes" data-mdb-placeholder="Filtrer blant arrangementstyper..." multiple>
                    {% for arrangement_type in ARRANGEMENT_TYPES %}
                        <option value="{{arrangement_type.slug}}">{{arrangement_type}}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <select class="select" id="plannerCalendarFilter_audiences" data-mdb-placeholder="Filtrer blant målgrupper..."  multiple>
                    {% for audience in AUDIENCES %}
                        <option value="{{audience.slug}}">{{audience}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="mt-4" id="plannerCalendarFilter">
            <h4>Lokasjoner</h4>
        <!-- Checked switch -->

                <!-- <div class="fc mb-0 p-0">
                    <div class="fc-header-toolbar fc-toolbar fc-toolbar-ltr mb-0">
                        <div class="fc-button-group">
                            <a class="fc-button fc-button-primary fc-arrangementsCalendarButton-button"
                               id=""> 
                                Vis aktive filtreringer
                            </a>
                        </div>
                    </div>
                </div> -->
                <div class="mt-2">
                    {% for location in LOCATIONS %}
                    <!-- <div class="list-group list-group-light">
                        <span  class="list-group-item list-group-item-action  px-3 border-0" aria-current="true">
                            <i class="fas fa-chevron-down"></i>&nbsp; 
                            <input type="checkbox" name="" id="">
                            {{location}}

                            <button class="btn btn-sm d-inline btn-white float-end shadow-0">
                                <i class="fas fa-filter"></i>
                            </button>
                            <button class="btn btn-sm d-inline btn-white float-end shadow-0 me-2">
                                <i class="fas fa-eye"></i>
                            </button>
                        </span>
                      </div> -->
                    {% endfor %}

                </div>
                <div class="mt-2">
                        <table class="table table-sm" id="filter_locationsTable">
                            <tbody>
                                {% for location in LOCATIONS %}
                                    <tr>
                                        <td>
                                            <div class="form-check">
                                                <input class="form-check-input" name="filterLocationsCheckboxArray" type="checkbox" value="{{location.slug}}" id="locationFilterCheckBox_{{location_slug}}" checked/>
                                                <label class="form-check-label" for="locationFilterCheckBox_{{location_slug}}">{{location}}</label>
                                            </div>
                                        </td>

                                        <td>
                                            <button class="btn shadow-0 btn-success btn-sm filterLocationBtn" value="{{location.slug}}"
                                                data-mdb-toggle="tooltip" type="button"
                                                title="Filtrer rom under denne lokasjonen.">
                                                Filtrer rom
                                        </button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            <!-- </fieldset> -->
        
        <!-- <div class="mt-4">
            <h4>Planleggere</h4> -->
            <!-- <div class="fc mb-0 p-0">
                <div class="fc-header-toolbar fc-toolbar fc-toolbar-ltr mb-2">
                    <div class="fc-button-group">
                        <a class="fc-button fc-button-primary fc-arrangementsCalendarButton-button"
                           id=""> 
                            Bare mine tidspunkter/arrangement
                        </a>
                    </div>
                </div>
            </div> -->
            <!-- {% for planner in PEOPLE %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked/>
                    <label class="form-check-label" for="flexCheckChecked">{{planner}}</label>
                </div>
            {% endfor %} -->

        <!-- </div> -->

        <!-- <div class="mt-4">
            <h4>Fargefokus</h4>
            <div>
                <table class="table-sm">
                    <tbody>
                        <tr>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="colorFocus__arrangement"/>
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        Arrangement
                                        <strong class="fw-bolder" data-mdb-toggle="tooltip" title="Fargelegg tidspunkter basert på hvilken arrangement de tilhører - dvs at hvert respektive arrangement representeres med en farge."> (?) </strong>
                                    </label>
                                  </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="colorFocus_arrangementType"/>
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        Arrangementstype
                                        <strong class="fw-bolder" data-mdb-toggle="tooltip" title="Fargelegg tidspunktene i kalenderen basert på hvilken arrangementstype forelderarrangementet de tilhører"> (?) </strong>
                                    </label>
                                  </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="colorFocus_audience"/>
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        Målgruppe
                                        <strong class="fw-bolder" data-mdb-toggle="tooltip" title="Fargelegg tidspunktene i kalenderen basert på hvilken målgruppe forelderarrangementet de tilhører"> (?) </strong>
                                    </label>
                                  </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="colorFocus_mainPlanner"/>
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        Hovedplanlegger
                                        <strong class="fw-bolder" data-mdb-toggle="tooltip" title="Fargelegg tidspunktene i kalenderen basert på hvilken målgruppe forelderarrangementet de tilhører"> (?) </strong>
                                    </label>
                                  </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div> -->
    </div>
    <div class="col-10">
        <h2 id="plannerCalendarHeader"></h2>
        <div class="clearfix">
            <div class="float-start">
                <ul class="nav nav-tabs rounded-top mt-4 fc-tabs" style="display: none;" id="navTabs" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active text-center" id="overview-tab" data-mdb-toggle="tab" href="#universeCalendar" role="tab" aria-controls="universe" aria-selected="true">
                        <span class="mb-0"><i class="fas fa-eye"></i></span>
                        &nbsp; <span>Arrangementer</span></a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link text-center" id="locations-tab" data-mdb-toggle="tab" href="#locationsCalendar" role="tab" aria-controls="locations" aria-selected="true">
                        <span class="mb-0"><i class="fas fa-building"></i></span>
                        &nbsp; <span>Lokasjoner</span></a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="people-tab" data-mdb-toggle="tab" href="#peopleCalendar" role="tab" aria-controls="people" aria-selected="false">
                        <span class="mb-0"><i class="fas fa-users"></i></span>
                        &nbsp; <span>Personer</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="float-end">
        
            </div>
        </div>
        
        <div class="tab-content" id="calendars">
            <div class="tab-pane show active" id="universeCalendar" role="tabpanel" aria-labelledby="universeCalendar-tab">
                <div id="arrangementPlannerCalendar"></div>
            </div>
            <div class="tab-pane" id="locationsCalendar" role="tabpanel" aria-labelledby="locationsCalendar-tab">
                <div id="locationsPlannerCalendar"></div>
            </div>
            <div class="tab-pane" id="peopleCalendar" role="tabpanel" aria-labelledby="peopleCalendar-tab">
                <div id="peoplePlannerCalendar"></div>
            </div>
        </div>
    </div>
</div>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.9.2/jquery.contextMenu.css" integrity="sha512-EF5k2tHv4ShZB7zESroCVlbLaZq2n8t1i8mr32tgX0cyoHc3GfxuP7IoT8w/pD+vyoq7ye//qkFEqQao7Ofrag==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- <script src="{% static 'modules/planner/plannerCalendar.js' %}" type="module"></script> -->

    <script type="module">
        import { PlannerCalendar } from "{% static 'modules/planner/plannerCalendar.js' %}";
        import { LocationCalendar } from "{% static 'modules/planner/locationCalendar.js' %}";
        import { PersonCalendar } from "{% static 'modules/planner/personCalendar.js' %}";
        import { ArrangementCreator } from "{% static 'modules/planner/arrangementCreator.js' %}";
        import { PlannerCalendarFilter } from "{% static 'modules/planner/plannerCalendarFilter.js' %}";

        var colorSwatch = [
            "#ffc2c2", 
            "#3a0846",
            "#062664",
            "#9470bd",
            "#e1ceff",
            "#9291cb",
            "#6668a1",
            "#937638",
            "#b90209",
            "#17222b",
        ]

        function _listenToLocationCheckboxes () {
            var checkboxes = document.querySelectorAll("input[type=checkbox][name=filterLocationsCheckboxArray]");

            checkboxes.forEach(function (checkbox) {
                checkbox.addEventListener('change', function () {
                    var slugs = Array.from(checkboxes)
                        .map(i => i.checked + "|" + i.value)
                    document.dispatchEvent(
                        new CustomEvent("plannerCalendar.filter.updateLocationFilter", { "detail": {
                            slugs: slugs 
                        }})
                    )
                });
            })
        }

        class ColorByArrangementProvider {
            constructor () {
                this._seenArrangements = new Map();
                this._pickedColors = new Map();
            }

            _pickUniqueColor() {
                for (let i = 0; i < colorSwatch.length; i++) {
                    var color = colorSwatch[i];
                    if (this._pickedColors.has(color) === false) {
                        this._pickedColors.set(color, true);
                        return color;
                    }
                }

                return "green";
            }

            getColor(arrangement) {
                if (this._seenArrangements.has(arrangement.slug)) {
                    return this._seenArrangements.get(arrangement.slug);
                }

                var color = this._pickUniqueColor();

                this._seenArrangements.set(arrangement.slug, color);
                return color;
            }
        }

        class ColorByMainPlannerColorProvider {
            constructor () {
                this._seenPlanners = new Map();
                this._pickedColors = new Map();
            }

            _pickUniqueColor() {
                for (let i = 0; i < colorSwatch.length; i++) {
                    var color = colorSwatch[i];
                    if (this._pickedColors.has(color) === false) {
                        this._pickedColors.set(color, true);
                        return color;
                    }
                }

                return "green";
            }

            getColor(arrangement) {
                if (this._seenPlanners.has(arrangement.mainPlannerName)) {
                    return this._seenPlanners.get(arrangement.mainPlannerName);
                }

                var color = this._pickUniqueColor();

                this._seenPlanners.set(arrangement.mainPlannerName, color);
                return color;
            }
        }

        class ColorByAudienceColorProvider {
            constructor () {
                this._seenAudiences = new Map();
                this._pickedColors = new Map();
            }

            _pickUniqueColor() {
                for (let i = 0; i < colorSwatch.length; i++) {
                    var color = colorSwatch[i];
                    if (this._pickedColors.has(color) === false) {
                        this._pickedColors.set(color, true);
                        return color;
                    }
                }

                return "green";
            }

            getColor(arrangement) {
               if (this._seenAudiences.has(arrangement.audience)) {
                    return this._seenAudiences.get(arrangement.audience);
                }

                var color = this._pickUniqueColor();

                this._seenAudiences.set(arrangement.audience, color);
                return color;
            }
        }

        var arrangementCreator;

        document.addEventListener('DOMContentLoaded', function() {


            arrangementCreator = new ArrangementCreator();
            _listenToLocationCheckboxes();
            $('#newArrangementBtn').on('click', () => {
                arrangementCreator.open();
            })

            var filter = new PlannerCalendarFilter()

            var plannerCalendar = new PlannerCalendar({
                calendarElement: document.getElementById('arrangementPlannerCalendar'),
                eventsSrcUrl: "{% url 'arrangement:arrangement_events' %}",
                colorProviders: [ 
                    { key: "planner", provider: new ColorByMainPlannerColorProvider() }, 
                    { key: "audience", provider: new ColorByAudienceColorProvider() },
                    { key: "arrangement", provider: new ColorByArrangementProvider() },
                ],
                initialColorProvider: "arrangement",
                $locationFilterSelectEl: $("#plannerCalendarFilter_locationFilter"),
                $arrangementTypeFilterSelectEl: $("#plannerCalendarFilter_arrangementTypes"),
                $audienceTypeFilterSelectEl: $("#plannerCalendarFilter_audiences"),
                csrf_token: '{{ csrf_token }}',
                calendarFilter: filter,
                licenseKey: '{{ FULLCALENDAR_LICENSE_KEY }}',
            });

            // var filter = new PlannerCalendarFilter();
            var locationsCalendar = new LocationCalendar({
                calendarElement: document.getElementById('locationsPlannerCalendar'),
                colorProviders: [ 
                    { key: "planner", provider: new ColorByMainPlannerColorProvider() }, 
                    { key: "audience", provider: new ColorByAudienceColorProvider() },
                    { key: "arrangement", provider: new ColorByArrangementProvider() },
                ],
                initialColorProvider: "arrangement",
                calendarFilter: filter
            });
            var peopleCalendar = new PersonCalendar({
                calendarElement: document.getElementById('peoplePlannerCalendar'),
                colorProviders: [ 
                    { key: "planner", provider: new ColorByMainPlannerColorProvider() }, 
                    { key: "audience", provider: new ColorByAudienceColorProvider() },
                    { key: "arrangement", provider: new ColorByArrangementProvider() },
                ],
                initialColorProvider: "arrangement",
                calendarFilter: filter

            });

            var mainCalendarFilterWrapper = $('#plannerCalendarFilter');
            
            $('#calendarFocusSelect').on("change", function () {
                plannerCalendar.setActiveColorProvider(this.value);
                plannerCalendar.refresh();
            });

            document.addEventListener('zenmode.activated', (event) => {
                plannerCalendar.refresh();
            })

            $('#overview-tab')[0].addEventListener('shown.mdb.tab', (event) => {
                mainCalendarFilterWrapper.show();
                plannerCalendar.refresh();
            })
            $('#locations-tab')[0].addEventListener('shown.mdb.tab', (event) => {
                mainCalendarFilterWrapper.hide();
                locationsCalendar.refresh();
            })
            $('#people-tab')[0].addEventListener('shown.mdb.tab', (event) => {
                mainCalendarFilterWrapper.hide();
                peopleCalendar.refresh();
            })
        });
    </script>

{% endblock %}