{% extends "arrangement/meta_base.html" %}
{% load static i18n %}

{% block noheader %}

<style>
    .stampGroove {
     border: dashed;   
    }
    .fc-day-sat { 
        background-color:ghostwhite; 
    }
    .fc-day-sun { 
        background-color:ghostwhite;  
    }

    .ui-widget-header {
        /* background-color: #2C3E50!important; */
        color:white;
    }

    .ui-dialog-title {
        /* color:white; */
    }

    .ui-dialog {
        box-shadow: 0 1px 15px 1px rgb(62 57 107 / 7%);
        background-color: aliceblue!important;
    }

    .ui-tabs-active {
        /* background-color: rgb(33, 56, 75)!important; */
    }

    .fc-event:hover {
        border: solid 1px red;
    }
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.9.2/jquery.contextMenu.css" integrity="sha512-EF5k2tHv4ShZB7zESroCVlbLaZq2n8t1i8mr32tgX0cyoHc3GfxuP7IoT8w/pD+vyoq7ye//qkFEqQao7Ofrag==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="{% static 'css/planner.css' %}">
<link rel="stylesheet" href="{% static 'css/loadingHint.css' %}">

<script src="https://dragselect.com/v2/ds.min.js"></script>
<script src="https://unpkg.com/hotkeys-js/dist/hotkeys.min.js"></script>


<div class="fc mb-0 p-0">
    <div class="fc-header-toolbar fc-toolbar fc-toolbar-ltr mb-0">
        <div class="fc-button-group">
            <a class="fc-button fc-button-primary fc-arrangementsCalendarButton-button"
               href="{% url 'arrangement:arrangement_create' %}"> 
                Nytt arrangement
            </a>
        </div>
    </div>
</div>

<div class="mt-4" id="plannerCalendarFilter">
    <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-12">
            <label for="">Lokasjoner</label>
            <select class="select" id="plannerCalendarFilter_locationFilter" multiple>
                {% for location in LOCATIONS %}
                    <option value="{{location.slug}}">{{location}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-12">
            <label for="">Arrangementstyper</label>
            <select class="select" id="plannerCalendarFilter_arrangementTypes" multiple>
                {% for arrangement_type in ARRANGEMENT_TYPES %}
                    <option value="{{arrangement_type.slug}}">{{arrangement_type}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-12">
            <label for="">Målgrupper</label>
            <select class="select" id="plannerCalendarFilter_audiences" multiple>
                {% for audience in AUDIENCES %}
                    <option value="{{audience.slug}}">{{audience}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>

<div class="clearfix">
    <div class="float-start">
<!-- 
        <div class="text-center text-uppercase text-muted"><i class="fas fa-filter"></i>
            &nbsp;
            Filter
        </div>
        <button class="btn btn-light btn-block shadow-0"
                data-mdb-container="body"
                data-mdb-toggle="popover"
                data-mdb-placement="bottom"
                data-mdb-content=" <div><strong>Arrangementstyper:</strong></div> <div><strong>Audiens: </strong></div> <div><strong>Planlegger: </strong></div>"
                data-mdb-html="true">
        <i class="fas fa-chevron-down"></i>
            &nbsp;
            Filtrer
        </button>
        <div class="text-center text-uppercase text-muted"><i class="fas fa-eye"></i>&nbsp; Fokuser på</div>
        <div class="btn-group shadow-0">
            <button class="btn btn-light"
                data-toggle="tooltip"
                title="Endre visningen til å fokusere på utheving av audiens">
                Audiens
            </button>
            <button class="btn btn-light"
                data-toggle="tooltip"
                title="Endre visningen til å fokusere på utheving av arrangementstype">
                Arrangementstype
            </button>
            <button class="btn btn-light"
                data-toggle="tooltip"
                title="Endre visningen til å fokusere på utheving av hovedplanleggere">
                Hovedplanlegger
            </button>
        </div> -->
    </div>
</div>

<div class="clearfix">
    <div class="float-start">
        <ul class="nav nav-tabs rounded-top mt-4 fc-tabs" style="display: none;" id="navTabs" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active text-center" id="overview-tab" data-mdb-toggle="tab" href="#universeCalendar" role="tab" aria-controls="universe" aria-selected="true">
                <span class="mb-0"><i class="fas fa-eye"></i></span>
                &nbsp; <span>Arrangementer</span></button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link text-center" id="locations-tab" data-mdb-toggle="tab" href="#locationsCalendar" role="tab" aria-controls="locations" aria-selected="true">
                <span class="mb-0"><i class="fas fa-building"></i></span>
                &nbsp; <span>Lokasjoner</span></button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="people-tab" data-mdb-toggle="tab" href="#peopleCalendar" role="tab" aria-controls="people" aria-selected="false">
                <span class="mb-0"><i class="fas fa-users"></i></span>
                &nbsp; <span>Personer</span>
                </button>
            </li>
        </ul>
    </div>
    <div class="float-end">

    </div>
</div>



{% endblock %}

{% block content %}
    <div class="tab-content" id="calendars">
      <div class="tab-pane show active" id="universeCalendar" role="tabpanel" aria-labelledby="universeCalendar-tab">
        <div id="arrangementPlannerCalendar"></div>
      </div>
      <div class="tab-pane" id="locationsCalendar" role="tabpanel" aria-labelledby="locationsCalendar-tab">
        <div id="locationsPlannerCalendar"></div>
      </div>
      <div class="tab-pane" id="peopleCalendar" role="tabpanel" aria-labelledby="peopleCalendar-tab">
        <div id="peoplePlannerCalendar"></div>
      </div>
    </div>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.9.2/jquery.contextMenu.css" integrity="sha512-EF5k2tHv4ShZB7zESroCVlbLaZq2n8t1i8mr32tgX0cyoHc3GfxuP7IoT8w/pD+vyoq7ye//qkFEqQao7Ofrag==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- <script src="{% static 'modules/planner/plannerCalendar.js' %}" type="module"></script> -->

    <script type="module">
        import { PlannerCalendar } from "{% static 'modules/planner/plannerCalendar.js' %}";
        import { LocationCalendar } from "{% static 'modules/planner/locationCalendar.js' %}";
        import { PersonCalendar } from "{% static 'modules/planner/personCalendar.js' %}";

        var colorSwatch = [
            "#ffc2c2", 
            "#3a0846",
            "#062664",
            "#9470bd",
            "#e1ceff",
            "#9291cb",
            "#6668a1",
            "#937638",
            "#b90209",
            "#17222b",
        ]

        class ColorByMainPlannerColorProvider {
            constructor () {
                this._seenPlanners = new Map();
                this._pickedColors = new Map();
            }

            _pickUniqueColor() {
                for (let i = 0; i < colorSwatch.length; i++) {
                    var color = colorSwatch[i];
                    if (this._pickedColors.has(color) === false) {
                        this._pickedColors.set(color, true);
                        return color;
                    }
                }

                return "green";
            }

            getColor(arrangement) {
                if (this._seenPlanners.has(arrangement.mainPlannerName)) {
                    return this._seenPlanners.get(arrangement.mainPlannerName);
                }

                var color = this._pickUniqueColor();

                this._seenPlanners.set(arrangement.mainPlannerName, color);
                return color;
            }
        }

        class ColorByAudienceColorProvider {
            constructor () {
                this._seenAudiences = new Map();
                this._pickedColors = new Map();
            }

            _pickUniqueColor() {
                for (let i = 0; i < colorSwatch.length; i++) {
                    var color = colorSwatch[i];
                    if (this._pickedColors.has(color) === false) {
                        this._pickedColors.set(color, true);
                        return color;
                    }
                }

                return "green";
            }

            getColor(arrangement) {
               if (this._seenAudiences.has(arrangement.audience)) {
                    return this._seenAudiences.get(arrangement.audience);
                }

                var color = this._pickUniqueColor();

                this._seenAudiences.set(arrangement.audience, color);
                return color;
            }
        }
        document.addEventListener('DOMContentLoaded', function() {
            var plannerCalendar = new PlannerCalendar({
                calendarElement: document.getElementById('arrangementPlannerCalendar'),
                eventsSrcUrl: "{% url 'arrangement:arrangement_events' %}",
                colorProviders: [ 
                    { key: "planner", provider: new ColorByMainPlannerColorProvider() }, 
                    { key: "audience", provider: new ColorByAudienceColorProvider() },
                ],
                initialColorProvider: "audience",
                $locationFilterSelectEl: $("#plannerCalendarFilter_locationFilter"),
                $arrangementTypeFilterSelectEl: $("#plannerCalendarFilter_arrangementTypes"),
                $audienceTypeFilterSelectEl: $("#plannerCalendarFilter_audiences"),
                csrf_token: '{{ csrf_token }}'
            });
            var locationsCalendar = new LocationCalendar({
                calendarElement: document.getElementById('locationsPlannerCalendar'),
            });
            var peopleCalendar = new PersonCalendar({
                calendarElement: document.getElementById('peoplePlannerCalendar'),
            });

            var mainCalendarFilterWrapper = $('#plannerCalendarFilter');
            
            $('#calendarFocusSelect').on("change", function () {
                plannerCalendar.setActiveColorProvider(this.value);
                plannerCalendar.refresh();
            });

            $('#overview-tab')[0].addEventListener('shown.mdb.tab', (event) => {
                mainCalendarFilterWrapper.show();
                plannerCalendar.refresh();
            })
            $('#locations-tab')[0].addEventListener('shown.mdb.tab', (event) => {
                mainCalendarFilterWrapper.hide();
                locationsCalendar.refresh();
            })
            $('#people-tab')[0].addEventListener('shown.mdb.tab', (event) => {
                mainCalendarFilterWrapper.hide();
                peopleCalendar.refresh();
            })
        });
    </script>

{% endblock %}