h1>Du har blitt tildelt nye oppgaver</h1>

<h3>$ASSIGNER har tildelt deg til disse aktivitetene i forbindelse med ordre #ORDERID</h3>

<table>
    <thead>
        <tr>
            <th>Aktivitet</th>
            <th>Når</th>
            <th>Hvor</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Aktivitet</td>
            <td>01.01.2023, 09:00 - 13:00</td>
            <td>Det nye Nasjonalmuseet - Konferanserom A</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th>Aktivitet</th>
            <th>Når</th>
            <th>Hvor</th>
        </tr>
    </tfoot>
</table>

<hr>

Med vennlig hilsen,
Arrangementsplanlegger