<div id="table-select-wrapper">
    {% with id=widget.attrs.id %}
      <div class="row" {% if id %}id="{{ id }}"{% endif %}>
        <span v-for="item in checkedItems">
          <input type="hidden" name="{{widget.name}}" :value="item.value">
        </span>

        <div class="col-12">
          <!-- Vue -->
          <table class="table table-sm table-borderless">
            <thead>
              <th>
                <input type="search" name="" v-model="searchTerm" id="" class="form-control" placeholder="Søk etter personer...">
              </th>
            </thead>
            <tbody>
              <tr v-for="item in itemsOnPage">
                <td class="hlist-item rounded-5">

                  <div class="d-flex" style="justify-content:space-between;">
                    <div class="form-check">
                        <input type="checkbox" name="" id="" v-model="item.isSelected" :value="item.value">
                        <label for="" class="ms-3">
                          <span :class="{ 'fw-bold': item.isSelected }">
                            [[item.label]]
                          </span>
                        </label>
                    </div>
                    <span class="float-end">
                      Ledig
                    </span>
                  </div>

                </td>
              </tr>
            </tbody>
          </table>
    
          <nav aria-label="" class="d-flex" style="justify-content: space-between; align-items: center;">
            <div>
              <em>[[totalPages]] sider</em>
            </div>
            <ul class="pagination">
                <li class="page-item" :class="{ disabled: page == 1 }"><a class="page-link" href="javascript:void(0)" @click.stop="page--">Forrige</a></li>
                <!-- TODO: Refactor -->
                <!-- <li class="page-item" :class="{ active: thisPage == page - 2 }" v-if="(page - 2) > 0"><a class="page-link" href="#">[[ page - 2 ]]</a></li> -->
                <li class="page-item" :class="{ active: thisPage == page - 1 }" v-if="(page - 1) > 0"><a class="page-link" href="#">[[ page - 1 ]]</a></li>
                <li class="page-item" class="active"><a href="#" class="page-link" id="">[[page]]</a></li>
                <!-- <li class="page-item" :class="{ active: thisPage == page }" v-for="thisPage in totalPages"><a class="page-link" href="#">[[thisPage]]</a></li> -->
                <li class="page-item" :class="{ active: thisPage == page + 1 }" v-if="(page + 1) < totalPages"><a class="page-link" href="#">[[ page + 1 ]]</a></li>
                <!-- <li class="page-item" :class="{ active: thisPage == page + 2 }" v-if="(page + 2) < totalPages"><a class="page-link" href="#">[[ page + 2 ]]</a></li> -->
    
                <li class="page-item" :class="{ disabled: page == totalPages }"><a class="page-link" href="javascript:void(0)" @click.stop="page++">Neste</a></li>
            </ul>
        </nav>
        </div>
      </div>
    {% endwith %}
  
    <!-- Old config-->
    <!-- {% with id=widget.attrs.id %}<table{% if id %} id="{{ id }}"{% endif %}{% if widget.attrs.class %} class="{{ widget.attrs.class }}"{% endif %}>
        <thead><tr><th></th></tr></thead>
        {% for group, options, index in widget.optgroups %}{% if group %}
      <div><label>{{ group }}</label>{% endif %}{% for option in options %}<div>
        {% include option.template_name with widget=option %}</div>{% endfor %}{% if group %}
      </div>{% endif %}{% endfor %}
    </table>{% endwith %} -->
  </div>
  
  <script>
      $(document).ready(function () {
        const app = Vue.createApp({
          data() {
            return {
              page: 1,
              pageSize: 10,
              navPageCircumference: 3,
              tableSelector: "#{{widget.attrs.id}}",
              tableData: [
                {% for x, y, z in widget.optgroups %}
                  {% with instance=y.0 %}
                      {
                        "label": "{{instance.label}}",
                        "value": "{{instance.value.value}}",
                        "isSelected": {% if instance.selected %}true{%else%}false{% endif %},
                      },
                  {% endwith %}
                {% endfor %}
              ],
              searchTerm: "",
            }
          },
          computed: {
            entitiesCount() {
              return this.tableData.length;
            },
            navItems() {
              const center = this.page;
              return [
              
              ]
            },
            totalPages() {
              return Math.ceil(this.visibleItems.length / this.pageSize)
            },
            visibleItems() {
              let data = this.tableData;
              
              if (this.searchTerm.length > 2)
                data = data.filter(x => x.label.toLowerCase().includes(this.searchTerm.toLowerCase()));
  
              return data;
            },
            itemsOnPage() {
                return this.visibleItems.slice((this.page - 1) * this.pageSize, this.page * this.pageSize );
            },
            checkedItems() {
              return this.tableData.filter(x => x.isSelected);
            },
          },
          methods: {
          },
          mounted() {
            console.log(this.checkedItems);
          },
          delimiters: [ "[[", "]]" ]
        });
  
        app.mount("#{{widget.attrs.id}}")
      })
  </script>