{% load static i18n %}


<div id="mainDialog" title="{{object.name}}">
  
    <!-- <div class='clearfix'>
        <div class='float-start btn btn-group p-0 shadow-0 rounded-0 square'>
            <button class='btn btn-light rounded-0 rounded-top-1'>Åpne i detaljert visning</button>
        </div>

        <div class='btn btn-group p-0 shadow-0 rounded-0 float-end square' style='border-bottom-left-radius: 0px; border-bottom-right-radius: 0px;'>
            <a class='btn btn-light rounded-0 rounded-top-1'  id='mainPlannerDialog__editBtn'>
                <i class='fas fa-edit'></i>
                Rediger
            </a>
            <a class='btn btn-light rounded-0 rounded-top-1' id='mainPlannerDialog__archiveBtn'>
                <i class='fas fa-archive'></i>
                Arkiver
            </a>
        </div>
    </div> -->

    <div id="tabs">
        <ul>
            <li><a href="#tabs-1">Informasjon</a></li>
            <li><a href="#tabs-2">Tidsplaner</a></li>
            <li><a href="#tabs-3">Notater</a></li>
            <li><a href="#tabs-4">Kvitteringer</a></li>
        </ul>
        <div id="tabs-1">
            <table class='table table-sm'>
                <tbody>
                    <tr>
                        <td colspan='2'>
                            <strong>Navn:</strong>
                            <input type="text"
                                id="{{ form.name.id_for_label }}" 
                                value="{{ form.name.value|default:'' }}"
                                name="{{ form.name.name }}"
                                placeholder="{% trans 'Name of the arrangement' %}..."/>

                            {% if form.name.errors|length > 0 %}
                                <div class="alert alert-danger">
                                    {{ form.name.errors }}
                                </div>
                            {% endif %}
                        </td>
                        <td><i class='fas fa-question-circle text-muted'></i></td>
                    </tr>

                    <tr>
                        <td colspan='2'>
                            <strong>Målgruppe:</strong>
                            {{ form.audience }}

                            {% if form.audience.errors|length > 0 %}
                                <div class="alert alert-danger">
                                    {{ form.audience.errors }}
                                </div>
                            {% endif %}
                        </td>
                        <td><i class='fas fa-question-circle text-muted'></i></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <strong>Lokasjon</strong>
                            {{ form.location }}

                            {% if form.location.errors|length > 0 %}
                                <div class="alert alert-danger">
                                    {{ form.location.errors }}
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan='2'>
                            <strong>Arrangementstype:</strong>
                            {{ form.arrangement_type }}
                            
                            {% if form.arrangement_type.errors|length > 0 %}
                                <div class="alert alert-danger">
                                    {{ form.arrangement_type.errors }}
                                </div>
                            {% endif %}
                        </td>
                        <td><i class='fas fa-question-circle text-muted'></i></td>

                    </tr>
                    <tr>
                        <td colspan='2'>
                            <strong>Starter:</strong>
                            <input type="date"
                                id="{{ form.starts.id_for_label }}"
                                name="{{ form.starts.name }}"
                                value="{{ form.starts.value|date:'Y-m-d'|default:'' }}">

                            <span>( <a href='#' class='text-primary'>I dag</a> )</span>
                            
                            {% if form.starts.errors|length > 0 %}
                                <div class="alert alert-danger">
                                    {{ form.starts.errors }}
                                </div>
                            {% endif %}
                        </td>
                        <td><i class='fas fa-question-circle text-muted'></i></td>

                    </tr>
                    <tr>
                        <td colspan='2'>
                            <strong>Slutter:</strong>
                            <input type="date"
                                id="{{ form.ends.id_for_label }}"
                                name="{{ form.ends.name }}"
                                value="{{ form.ends.value|date:'Y-m-d'|default:'' }}">

                            <span>( <a href='#' class='text-primary'>I dag</a> )</span>

                            {% if form.ends.errors|length > 0 %}
                                <div class="alert alert-danger">
                                    {{ form.ends.errors }}
                                </div>
                            {% endif %}
                        </td>
                        <td><i class='fas fa-question-circle text-muted'></i></td>

                    </tr>
                    <tr>
                        <td colspan='3'>
                            <span class='fw-bolder'>Hovedplanlegger:</span> <em>{{ object.responsible.full_name }}</em> <a href='#' id="mainPlannerDialog__promotePlannerBtn" class='text-primary'>(Endre...)</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Planleggere:</strong><br>
                            <select multiple id="mainPlannerDialog_plannersSelect">
                                <option value="MAIN" data-toggle="tooltip" title="Hovedplanlegger" disabled>{{object.responsible}}</option>
                                {% for planner in object.planners.all %}
                                    <option value="{{planner.pk}}">{{planner}}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                        <div>
                        <a href='#' class='text-primary' id='mainDialog__addPlannerBtn'>
                            <i class='fas fa-plus'></i>
                            Legg til planlegger...
                        </a>
                    </div>
                    <div>
                        <a href='#' class='text-primary' id='mainDialog_removePlannerBtn'
                            onclick="mainPlannerDialog__removePlanners()">
                            <i class='fas fa-plus'></i>
                            Fjern valgte planleggere...
                        </a>
                    </div>
                    <div>
                    </div></td>
                        <td><i class='fas fa-question-circle text-muted'></i></td>

                    </tr>
                    <tr>
                        <th colspan='2'>
                            <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked />
                            <label class="form-check-label" for="flexSwitchCheckChecked">Vises i multimedia guide</label>
                        </div>
                        </th>
                        <td><i class='fas fa-question-circle text-muted' data-toggle='tooltip' title='Skal dette arrangementet vises i multimedia guiden?'></i></td>

                    </tr>
                    <tr>
                        <td colspan='3'>
                            <button class=" btn btn-sm shadow-0 btn-light btn-block text-success"
                                    type="button"
                                    onclick="mainPlannerDialog__updateArrangementInfo()">
                                <i class='fas fa-check'></i>
                                Lagre endringer
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

        {{ form.errors }}

        </div>
        <div id="tabs-2">
            <div class="table-responsive" style="max-height: 280px;">
                <table class='table table-striped'>
                    <a href='#' class='text-primary' id='mainPlannerDialog__newTimePlan'><i class='fas fa-plus'></i>&nbsp; Ny tidsplan</a>
                    &nbsp;|&nbsp;
                    <a href='#' class='text-primary' id='mainPlannerDialog__newSimpleActivity'><i class='fas fa-plus'></i>&nbsp; Ny enkel aktivitet</a>
                    &nbsp;|&nbsp;
                    <a href='#' class='text-primary' id='mainPlannerDialog__showInCalendarForm'><i class='fas fa-calendar'></i>&nbsp; Vis i kalenderform</a>
                    <thead>
                        <tr>
                            <th class='h6'>Tidsplan</th>
                        </tr>
                        {% for event in object.event_set.all %}
                        <tr>
                            <td>
                                ({{event.start}} - {{event.end}})
                                {{event.title}}
                            </td>
                        </tr>
                        {% endfor %}
                    </thead>
                    <tbody>
                        <tr>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="tabs-3">
            <div class="clearfix">
                <a href="#" class="text-primary float-end" id="mainPlannerDialog__newNoteBtn">Nytt notat</a>
            </div>

            {% for note in object.notes.all %}
                <div class="border bg-light p-2">
                    {{note.content}}

                    <div class="clearfix">
                        <em class="text-muted small float-end">{{note.author}}</em>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div id="tabs-4">
            Kvitteringer...
        </div>
    </div>
</div>


<script>
    function mainPlannerDialog__updateArrangementInfo() {
        var formData = new FormData();
        formData.append("name",             $('#id_name').val());
        formData.append("audience",         $('#id_audience').val());
        formData.append("location",         $('#id_location').val());
        formData.append("arrangement_type", $('#id_arrangement_type').val());
        formData.append("starts",           $('#id_starts').val());
        formData.append("ends",             $('#id_ends').val());

        document.dispatchEvent(
            new CustomEvent("arrangementPlannerDialogs.submit", { "detail": {
                dialog: "mainDialog",
                formData: formData,
            }})
        );
    }

    function mainPlannerDialog__removePlanners() {
        var planners = $('#mainPlannerDialog_plannersSelect').val().join(",");
        console.log(planners)
        var formData = new FormData()
        formData.append("planner_ids", planners);
        formData.append("arrangement_slug", "{{arrangement.slug}}")

        fetch('{% url "arrangement:arrangement_remove_planners_form" %}', {
            method: 'POST',
            body: formData,
            headers: {
                "X-CSRFToken": '{{csrf_token}}'
            }
        }).then(_ => {
            document.dispatchEvent(
                new CustomEvent("arrangementPlannerDialogs.hasBeenUpdated", {'detail': {
                    dialog: "mainDialog",
                }})
            )
        })
    }
</script>