{% load static i18n %}


<div id="createArrangementDialog" class="uiDialog"
     title="<span class='badge badge-success'><i class='fas fa-plus'></i></span>&nbsp; Planlegg nytt arrangement">

    <div class="dialogBodyWrapper">
        <div class="row">
            <div class="col-6">
                <form id="arrangementInfoForm">
                    <input type="submit" style="display:none;" />

                    <fieldset>
                        <h5 class="header-fonted">
                            <i class="fas fa-clipboard"></i>
                            Informasjon om arrangementet
                        </h5>
                        <div class="form-outline mb-2">
                            <input type="text"
                                class="form-control mb-2"
                                id="{{ form.name.id_for_label }}"
                                value="{{ form.name.value|default:'' }}"
                                name="{{ form.name.name }}"
                                autocomplete="off"
                                required />
                            <label class="form-label" for="{{ form.name.id_for_label }}">🇳🇴 Tittel på norsk</label>
                        </div>
                        {% if form.name.errors|length > 0 %}
                            <div class="alert alert-danger">
                                {{ form.name.errors }}
                            </div>
                        {% endif %}

                        <div class="form-outline mb-3">
                            <input type="text"
                                class="form-control form-control-md"
                                id="{{ form.name_en.id_for_label }}"
                                value="{{ form.name_en.value|default:'' }}"
                                name="{{ form.name_en.name }}"
                                autocomplete="off"
                                />
                            <label class="form-label" for="{{ form.name.id_for_label }}">🇬🇧 Tittel på engelsk</label>
                        </div>
                        {% if form.name_en.errors|length > 0 %}
                            <div class="alert alert-danger">
                                {{ form.name_en.errors }}
                            </div>
                        {% endif %}

                        <div class="mb-2">
                            {{ form.audience }}
                            <label for="" class="form-label select-label"><i class="fas fa-cog"></i>&nbsp; {{ form.audience.label }}</label>
                        </div>
                        {% if form.audience.errors|length > 0 %}
                            <div class="alert alert-danger">
                                {{ form.audience.errors }}
                            </div>
                        {% endif %}

                        <div class="mb-2">
                            {{ form.location }}
                            <label for="" class="form-label select-label"><i class="fas fa-building"></i>&nbsp; {{ form.location.label }}</label>
                        </div>
                        {% if form.location.errors|length > 0 %}
                            <div class="alert alert-danger">
                                {{ form.location.errors }}
                            </div>
                        {% endif %}

                        <div class="mb-2">
                            {{ form.arrangement_type }}
                            <label for="" class="form-label select-label"><i class="fas fa-cog"></i>&nbsp; {{ form.arrangement_type.label }}</label>
                        </div>
                        {% if form.arrangement_type.errors|length > 0 %}
                            <div class="alert alert-danger">
                                {{ form.arrangement_type.errors }}
                            </div>
                        {% endif %}

                        <div class="mb-3">
                            {{ form.responsible }}
                            <label for="" class="form-label select-label"><i class="fas fa-user"></i>&nbsp; {{ form.responsible.label }}</label>
                        </div>
                        {% if form.responsible.errors|length > 0 %}
                            <div class="alert alert-danger">
                                {{ form.responsible.errors }}
                            </div>
                        {% endif %}

                        <div class="mb-2 form-outline">
                            <input type="text"
                                class="form-control"
                                id="{{ form.ticket_code.id_for_label }}"
                                value="{{ form.ticket_code.value|default:'' }}"
                                name="{{ form.ticket_code.name }}"
                                placeholder="{% trans 'Ticket code' %}..."/>
                            <label class="form-label" for="{{ form.ticket_code.id_for_label }}">
                                <i class="fas fa-receipt"></i>&nbsp; Billetkode
                            </label>
                        </div>
                        {% if form.ticket_code.errors|length > 0 %}
                            <div class="alert alert-danger">
                                {{ form.ticket_code.errors }}
                            </div>
                        {% endif %}

                        <div class="mb-2 form-outline">
                            <input type="text"
                                class="form-control"
                                id="{{ form.meeting_place.id_for_label }}"
                                value="{{ form.meeting_place.value|default:'' }}"
                                name="{{ form.meeting_place.name }}"
                                placeholder="{% trans 'Meeting place' %}..."/>
                            <label class="form-label" for="{{ form.meeting_place.id_for_label }}">
                                <i class="fas fa-building"></i>&nbsp; 🇳🇴&nbsp; Møtested
                            </label>
                        </div>
                        {% if form.meeting_place.errors|length > 0 %}
                            <div class="alert alert-danger">
                                {{ form.meeting_place.errors }}
                            </div>
                        {% endif %}

                        <div class="mb-2 form-outline">
                            <input type="text"
                                class="form-control"
                                id="{{ form.meeting_place_en.id_for_label }}"
                                value="{{ form.meeting_place_en.value|default:'' }}"
                                name="{{ form.meeting_place_en.name }}"
                                placeholder="{% trans 'Meeting place' %}..."/>
                            <label class="form-label" for="{{ form.meeting_place.id_for_label }}">
                                <i class="fas fa-building"></i>&nbsp; 🇬🇧&nbsp; Møtested
                            </label>
                        </div>
                        {% if form.meeting_place.errors|length > 0 %}
                            <div class="alert alert-danger">
                                {{ form.meeting_place.errors }}
                            </div>
                        {% endif %}

                        <div class="mb-2 form-outline">
                            <input type="number"
                                min="0"
                                class="form-control"
                                id="{{ form.expected_visitors.id_for_label }}"
                                value="{{ form.expected_visitors.value|default:'' }}"
                                name="{{ form.expected_visitors.name }}"
                                required />
                            <label for="{{ form.expected_visitors.id_for_label }}" class="form-label">
                                <i class="fas fa-users"></i>&nbsp; Expected visitors
                            </label>
                        </div>
                        {% if form.expected_visitors.errors|length > 0 %}
                            <div class="alert alert-danger">
                                {{ form.expected_visitors.errors }}
                            </div>
                        {% endif %}

                        <div class="mt-5 mb-3">
                            <h5 class="header-fonted">
                                <i class="fas fa-tv"></i>
                                Skjerm
                            </h5>
                            <label class="d-block">&nbsp; {% trans "Vises på skjermen:" %}</label>
                                            {{form.display_layouts}}
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="col-6">
                <h5 class="header-fonted">
                    <i class="fas fa-clock"></i>
                    Plan
                </h5>

                <div class="alert alert-info small">
                    <h5><i class="fas fa-info-circle"></i></h5>
                    <p>Definer en plan på når og hvor arrangementet inntreffer.</p>

                    <p>Du kan opprette egne tidsplaner, dette er i praksis det samme som en repeterende hendelse i Outlook.</p>

                    Eller så kan du opprette en enkel aktivitet, dette er et frittstående tidspunkt eller hendelse som inntreffer en gang.
                </div>

                <h5 class="mt-3 mb-0">Tidsplaner: </h5>
                <a class="btn btn-md btn-success text-white btn-block shadow-0 mb-2" id="createArrangementDialog_createSerie">
                    <i class="fas fa-calendar-week"></i>
                    Ny tidsplan
                </a>

                <div id="timeplansBody"></div>

                <h5 class="mt-3">Enkle aktiviteter: </h5>
                <a class="btn btn-md btn-success shadow-0 text-white btn-block mb-2" id="createArrangementDialog_createSimpleActivity">
                    <i class="fas fa-calendar-plus"></i>
                    Ny enkel aktivitet
                </a>

                <div id="eventsBody"></div>
            </div>
        </div>
        <a class="btn btn-lg shadow-0 text-white btn-success btn-block"
            onclick="createArrangementDialog_submit()">
            <i class="fas fa-save"></i>
            Opprett Arrangement
        </a>
    </div>
</div>

<script>

    var seriesMap;
    var eventsMap;

    $(document).ready(function () {
        document.querySelectorAll('.form-outline').forEach((formOutline) => {
            new mdb.Input(formOutline).init();
        });
        new mdb.Select(document.getElementById('{{ form.audience.id_for_label }}'), {
            container: '#createArrangementDialog'
        })
        new mdb.Select(document.getElementById('{{ form.location.id_for_label }}'), {
            container: '#createArrangementDialog'
        })
        new mdb.Select(document.getElementById('{{ form.responsible.id_for_label }}'), {
            container: '#createArrangementDialog'
        })
        new mdb.Select(document.getElementById('{{ form.arrangement_type.id_for_label }}'), {
            container: '#createArrangementDialog'
        })

        document.addEventListener("{{managerName}}.contextUpdated", (e) => {
            if (e.detail.context.series !== undefined) {
                setSeries(e.detail.context.series);
            }
            if (e.detail.context.events !== undefined) {
                setEvents(e.detail.context.events);
            }
        })
    })

    function validate_arrangement_info_form() {
        let field_elements = $('#arrangementInfoForm').find("input, select");

        let isInvalid = false;

        for (let i = 0; i < field_elements.length; i++) {
            if (field_elements[i].checkValidity() === false) {
                isInvalid = true;
                break;
            }
        }

        if (isInvalid) {
            $('#arrangementInfoForm').find(':submit').click();
            return false;
        }

        return true;
    }

    var has_plans = () => seriesMap !== undefined && seriesMap.size > 0 || eventsMap !== undefined && eventsMap.size > 0;

    function createArrangementDialog_submit() {

        if (validate_arrangement_info_form() === false) {
            return;
        }
        if (has_plans() === false) {
            toastr.warning("Plan(er) må opprettes før vi kan opprette arragementet - du må sette tider.");
            return;
        }

        var formData = new FormData();
        formData.append("name",             $('#id_name').val());
        formData.append("name_en",          $('#id_name_en').val());
        formData.append("audience",         $('#id_audience').val());
        formData.append("location",         $('#id_location').val());
        formData.append("arrangement_type", $('#id_arrangement_type').val());
        formData.append("responsible",      $('#id_responsible').val());
        formData.append("ticket_code",      $('#id_ticket_code').val());
        formData.append("meeting_place",    $('#id_meeting_place').val());
        formData.append("meeting_place_en", $('#id_meeting_place_en').val());
        formData.append("expected_visitors",$('#id_expected_visitors').val());


        let displayLayouts = [];
        document.querySelectorAll("input[name='display_layouts'][type='checkbox']:checked").forEach(element => {
            formData.append("display_layouts", element.value);
        })

        formData.append("csrf_token",       "{{csrf_token}}");

        var seriesArray = seriesMap !== undefined ? Array.from(seriesMap.values()) : [];
        var eventsArray = eventsMap !== undefined ? Array.from(eventsMap.values()) : [];

        document.dispatchEvent(
            new CustomEvent("{{managerName}}.submit", { "detail": {
                dialog: "createArrangementDialog",
                formData: formData,
                series: seriesArray,
                events: eventsArray,
            }})
        );
    }

    function setEvents(events) {
        eventsMap = events;

        var tbody = $('#eventsBody');
        tbody.html("");

        events.forEach(element => {
            tbody.append(
                $(`
                <div class="border border rounded p-3" id='${element._uuid}'>
                    <h5 class="text-muted mb-0">
                        ${element.title}
                    </h5>
                    ${element.start} - ${element.end}
                    <div class="btn-group">
                        <a href="#" class="btn btn-danger text-white"
                            data-toggle='tooltip' title='{% trans "Remove this serie from the arrangement to be" %}'
                            onclick='createArrangementDialog_removeSimpleActivity("${element._uuid}")'>
                            Slett
                        </a>
                        <a href="#" class="btn btn-success text-white"
                            data-toggle='tooltip' title='{% trans "Edit this serie" %}'
                            onclick='createArrangementDialog_editSimpleActivity("${element._uuid}")'>
                            Rediger
                        </a>
                    </div>
                </div>
                `)
            )
        })
    }

    function setSeries(series) {
        seriesMap = series;

        var tbody = $('#timeplansBody');
        tbody.html("")

        series.forEach(element => {
            collisions_html = "";
            if (element.collisions !== undefined && element.collisions.length > 0) {
                var collisionsCounter = 0;
                element.collisions.forEach(collisionRecord => {
                    collisions_html += `
                    <div class="bg-dark border p-2 border-2 border-warning text-white p-3 shadow-3 conflict_summary_${collisionsCounter}">
                        <h5><i class="fas fa-exclamation-triangle"></i>&nbsp; Konflikt på ${collisionRecord.contested_resource_name}</h5>
                        <div class="row">
                            <div class="col-5">
                                <div class="">
                                    <div class="fw-bolder">${collisionRecord.event_a_title}</div>
                                    <h6>${collisionRecord.event_a_start} - ${collisionRecord.event_a_end}</h6>
                                </div>
                            </div>
                            <div class="col-2">
                                <h3 class=" text-center"><i class="fas fa-arrow-right"></i></h3>
                            </div>
                            <div class="col-5">
                                <div class="">
                                    <div class="fw-bolder">${collisionRecord.event_b_title}</div>
                                    <h6>${collisionRecord.event_b_start} - ${collisionRecord.event_b_end}</h6>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix">
                            <a href="#" class="btn btn-success text-white shadow-0"
                                onclick='createArrangementDialog__breakOutEvent("${element._uuid}", ${collisionsCounter})'><i class='fas fa-code-branch'></i>&nbsp; Løs konflikt
                            </a>
                        </div>
                    </div>
                    `;
                    collisionsCounter++;
                })
            }

            tbody.append(
                $(`
                        <div class="rounded border  p-3 ps-4 pe-4" id='${element._uuid}'>
                            <h5 class="mb-0 text-muted">${element.time.title}</h5>
                            <h6 class="mb-0"><i class="fas fa-clock"></i> ${element.time.start} - ${element.time.end} </h6>
                            <h6><i class="fas fa-redo"></i> ${element.friendlyDesc}</h6>

                            <div class="btn-group shadow-0 mb-2">
                                <a href="#" class="btn btn-success text-white"
                                    data-toggle='tooltip' title='{% trans "Edit this serie" %}'
                                    onclick='createArrangementDialog_editSerie("${element._uuid}")'>
                                    <i class="fas fa-edit"></i>&nbsp; Rediger tidsplan
                                </a>
                                <a href="#" class="btn btn-danger text-white"
                                    data-toggle='tooltip' title='{% trans "Remove this serie from the arrangement to be" %}'
                                    onclick='createArrangementDialog_removeSerie("${element._uuid}")'>
                                    <i class="fas fa-trash"></i>&nbsp; Slett tidsplan
                                </a>
                            </div>
                            <div class="accordion" id="accordion_series_${element._uuid}">
                                <div class="accordion-item">
                                  <h2 class="accordion-header" id="headingOne">
                                    <a
                                      class="accordion-button text-muted collapsed"
                                      type="button"
                                      data-mdb-toggle="collapse"
                                      data-mdb-target="#collisionsCollapse_${element._uuid}"
                                      aria-expanded="true"
                                      aria-controls="collisionsCollapse_${element._uuid}"
                                    >
                                    <span class="bg-danger rounded-pill text-white p-1" id='${element._uuid}_collisionCounter'>${element.collisions.length}</span>
                                    <i class="fas fa-exclamation-triangle ms-2"></i>&nbsp; Kollisjoner
                                  </a>
                                  </h2>
                                  <div id="collisionsCollapse_${element._uuid}" class="accordion-collapse collapse" aria-labelledby="headingOne" data-mdb-parent="#accordion_series_${element._uuid}">
                                    <div class="accordion-body">
                                        <div class="alert alert-danger small">
                                            <strong>OBS: </strong> kollisjoner som ikke blir <abbr title="Bryt ut kollisjoner til enkle aktiviteter og løs kollisjonen">brutt ut</abbr> og løst vil ikke bli opprettet
                                            når arrangementet opprettes.
                                        </div>
                                        ${collisions_html}
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                `)
            )
        });
    }

    function createArrangementDialog_removeSerie(uuid) {
        $('#' + uuid).remove();
        seriesMap.delete(uuid);
    }


    function createArrangementDialog_removeSimpleActivity(uuid) {
        $('#' + uuid).remove();
        eventsMap.delete(uuid);
    }

    function createArrangementDialog_editSimpleActivity(uuid) {
        document.dispatchEvent(
            new CustomEvent("arrangementCreator.newSimpleActivityDialog.trigger", { "detail": {
                "event_uuid": uuid
            } })
        )
    }

    function createArrangementDialog__breakOutEvent(serie_uuid, collision_index) {
        var serie = seriesMap.get(serie_uuid);
        document.dispatchEvent(
            new CustomEvent("arrangementCreator.breakOutActivityDialog.trigger", { "detail": {
                "serie": serie,
                "collision_index": collision_index,
            } })
        )
    }

    function createArrangementDialog_editSerie(uuid) {
        document.dispatchEvent(
            new CustomEvent("arrangementCreator.newTimePlanDialog.trigger", { "detail": {
                "serie_uuid": uuid
            } })
        )
    }

</script>
