{% load static i18n %}
{% load crispy_forms_tags %}

<div id="{{dialogId}}" class="{{discriminator}}" >

    <input type="hidden" name="_backingCountyId" />
    <input type="hidden" id="_backingAudienceId" />
    <input type="hidden" id="_backingArrangementTypeId" />
    <input type="hidden" id="_statusTypeId" />

    <input type="hidden" id="_serie_reference">
    <input type="hidden" id="_serie_position_hash" name="">
    <input type="hidden" id="_parent_serie_position_hash" name="">

    <input type="hidden" id="start_before_collision_resolution">
    <input type="hidden" id="end_before_collision_resolution">
    <input type="hidden" id="title_before_collision_resolution" name="">

    <div class="clearfix">
        <div class="float-start">
            <h6>
                Definer aktivitet
            </h6>
            <h5 class="fw-bold">
                <i class="fas fa-calendar-plus"></i>&nbsp; Aktivitet navn
            </h5>
        </div>
        <div id="stepper" class="float-end stepper-rail"></div>
    </div>

    <hr>

    <div>
        <div id="step-1">
            <form id="newSimpleActivityForm">
                <input type="submit" name="submit" style="display:none;" />
                <input type="hidden" name="uuid" id="event_uuid" />
                
                <div class="form-group mb-2">
                    <label class="form-label" for="title">Tittel <i>(Norsk)</i></label>
                    <input type="text" id="title" name="title" class="form-control form-control-lg" required />
                </div>

                <div class="form-group mb-2">
                    <label class="form-label" for="title_en">Tittel <i>(Engelsk)</i></label>
                    <input type="text" id="title_en" name="title_en" class="form-control form-control-lg" />
                </div>

                <div class="form-group mb-2">
                    <label>
                        <i class="fas fa-users"></i>&nbsp;
                        Målgruppe
                    </label>
                    <div id="audience_jstree_select" class="dialog-popover-left-fix"></div>
                    
                    {% if form.audience.errors|length > 0 %}
                    <div class="alert alert-danger">
                        {{ form.audience.errors }}
                    </div>
                    {% endif %}

                    <div id="school_options" style="display: none;">
                        <div class="form-group mt-2">
                            <label>
                                Fylke
                            </label>
                            <select name="" id="countySelect" class="form-control">
                                <option value="0">Ingen fylke valgt</option>
                                {% for county in counties %}
                                    <option value="{{county.id}}">{{county.name}}</option>
                                {% endfor %}
                            </select>    
                        </div>

                        <div class="form-group mt-2">
                            <label>
                                Skole
                            </label>

                            <input type="hidden" name="" id="initialSchoolValue">
                            <select name="" id="schoolSelect" class="form-control">
                                <option value="">Velg skole</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group mb-2">
                    <label>
                        <i class="fas fa-cog"></i>&nbsp;
                        Arrangementstype
                    </label>
                    <div id="arrangement_type_jstree_select" class="dialog-popover-left-fix"></div>
                    {% if form.arrangement_type.errors|length > 0 %}
                    <div class="alert alert-danger">
                        {{ form.arrangement_type.errors }}
                    </div>
                    {% endif %}
                </div>

                <div class="form-group mb-2">
                    <label>
                        <i class="fas fa-cog"></i>&nbsp;
                        Status
                    </label>
                    <div id="status_type_jstree_select" class="dialog-popover-left-fix"></div>
                    {% if form.status_type.errors|length > 0 %}
                    <div class="alert alert-danger">
                        {{ form.status_type.errors }}
                    </div>
                    {% endif %}
                </div>
    
                <div class="form-group mt-2">
                    <label for="" class="form-label">Fra</label>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-outline">
                                <input type="date" id="fromDate" name="fromDate" class="form-control form-control-lg" required />
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-outline">
                                <input type="time" id="fromTime" name="fromTime" class="form-control form-control-lg" required />
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="form-group mt-2">
                    <label for="" class="form-label">Til</label>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-outline">
                                <input type="date" id="toDate" name="toDate" class="form-control form-control-lg" required />
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-outline">
                                <input type="time" id="toTime" name="toTime" class="form-control form-control-lg" required />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="alert alert-danger mt-3"
                    style="display:none;"
                    id="eventTimesInvalidFeedback">
                    Oppgitte tider er ugyldige
                </div>
            </form>
        </div>
        <div id="step-2">
            <div class="border rounded box-shadow-2 wb-bg-secondary p-4 mb-4">
                <input type="hidden" name="{{ form.responsible.name }}" id="{{ form.responsible.id_for_label }}">

                <label for="" class="d-block form-label">
                    <i class="fas fa-star"></i>
                    Hovedplanlegger
                </label>
                <h5 class="mb-2" id="mainPlannerName"></h5>
                <button class="wb-btn-main"
                    id="setMainPlannerButton"
                    type="button"
                    d-trigger="triggerSetPlanner">
                    Velg hovedplanlegger
                </button>
            </div>
            {% comment %} <div class="form-group mb-2">
                <label for="{{form.responsible.id_for_label}}"
                        class="form-label">
                        <i class="fas fa-star"></i>&nbsp;
                        Hovedplanlegger
                </label>
                {{ form.responsible }}
            </div> {% endcomment %}

            <div class="border rounded box-shadow-2 wb-bg-secondary p-4">
                <label for="{{form.responsible.id_for_label}}" class="form-label">
                    <i class="fas fa-users"></i>&nbsp;
                    Personer
                </label>
                <div>
                    <button class="wb-btn-main"
                            type="button"
                            d-trigger="triggerAddPeople">
                        Velg personer
                    </button>
                </div>  
                <div id="selectedPeopleWrapper" class="chipsList"></div>
            </div>
            
            <div class="border rounded box-shadow-2 wb-bg-secondary p-4 mt-4">
                <label for="" class="form-label">
                    <i class="fas fa-building"></i>&nbsp;
                    Rom
                </label>
                <div>
                    <button class="wb-btn-main"
                        type="button"
                        d-trigger="triggerAddRooms">
                        Velg rom
                    </button>
                </div>
                <div id="selectedRoomsWrapper" class="chipsList"></div>
            </div>

            <div class="form-group mb-2">
                <label class="form-label" for="ticket_code">
                    <i class="fas fa-receipt"></i>&nbsp;
                    Billettinfo
                </label>
                <input type="text" id="ticket_code" name="ticket_code" class="form-control form-control-lg" />
            </div>

            <div class="form-group mb-2">
                <label class="form-label" for="expected_visitors">
                    <i class="fas fa-users"></i>
                    Forventet besøkende
                </label>
                <input type="text" id="expected_visitors" name="expected_visitors" class="form-control form-control-lg" required />
            </div>
        </div>
        <div id="step-services">
            <div class="clearfix">
                <a class="btn btn-lg btn-outline-dark btn-block shadow-0 mb-2 p-2"
                    style="text-transform: none; font-size: larger; border-width: 0.7px;"
                    d-trigger="triggerOrderService">
                    <i class="fas fa-calendar-plus"></i>&nbsp;
                    Bestill tjenester
                </a>
            </div>

            <div class="alert alert-info mt-2">
                Her kan du bestille tjenester for denne aktiviteten. <br>
                Du kan også fjerne aktiviteten fra bestillinger plassert på arrangementsnivået. Fjerner du bestillinger her vil 
                denne aktiviteten ikke være delaktige i den respektive bestillingen, men de vil fortsatt være aktuelle for andre aktiviteter/tidsplaner <br>
            </div>

            <div id="serviceOrders" class="mb-2">

            </div>
        </div>
        <div id="step-3">
            <div class="alert alert-info small">
                <i class="fas fa-info-circle"></i>
                Opprigg og nedrigg blir opprettet som egne hendelser før og etter aktiviteten.
            </div>

            <table class="table">
                <thead></thead>
                <tbody>
                    <tr>
                        <th colspan="3" class="h4">Opprigg før aktiviteten:</th>
                    </tr>
                    <tr style="border-bottom:none;">
                       <td colspan="2" style="border: none;">
                        <div>
                            <label for="buffer_before_title" class="form-label">
                                Tittel
                            </label>
                            <input type="text" class="form-control form-control-lg" id="buffer_before_title" placeholder="Tittel... (valgfritt)">
                        </div>

                        <div class="mt-2">
                            <label for="buffer_before_date" class="form-label">
                                Dato
                            </label>
                            <input type="date" id="buffer_before_date" class="form-control form-control-lg">
                        </div>
                       </td> 
                    </tr>
                    <tr>
                        <td style="padding-top: 0;">
                            <label for="buffer_before_start" class="form-label">
                                Fra
                            </label>
                            <div class="form-outline">
                                <input type="time" id="buffer_before_start" name="buffer_before_start" class="form-control form-control-lg" />
                            </div>
                        </td>
                        <td style="padding-top: 0;">
                            <label for="buffer_before_end" class="form-label">
                                Til
                            </label>
                            <div class="form-outline">
                                <input type="time" id="buffer_before_end" name="buffer_before_end" class="form-control form-control-lg" />
                            </div>  
                        </td>
                    </tr>
                    <tr id="beforeRiggingTimesInvalidFeedback"
                        style="display:none;">
                        <td colspan="2">
                            <div class="alert alert-danger">
                                Ugyldige tider
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th colspan="3" class="h4">Nedrigg etter aktiviteten:</th>
                    </tr>
                    <tr style="border-bottom:none;">
                        <td colspan="2" style="border: none;">
                         <div>
                            <label for="after_buffer_title" class="form-label">
                                Tittel
                            </label>
                             <input type="text" class="form-control form-control-lg" id="buffer_after_title" placeholder="Tittel... (valgfritt)">
                         </div>
 
                         <div class="mt-2">
                            <label for="" class="form-label">
                                Dato
                            </label>
                            <input type="date" name="" class="form-control form-control-lg" id="buffer_after_date">
                         </div>
                        </td> 
                     </tr>
                    <tr>
                        <td style="padding-top: 0;">
                            <label for="buffer_after_start" class="form-label">
                                Fra
                            </label>
                            <div class="form-outline">
                                <input type="time" id="buffer_after_start" name="buffer_after_start" class="form-control form-control-lg" />
                            </div>
                        </td>
                        <td style="padding-top:0;">
                            <lable for="buffer_after_end" class="form-label">
                                Til
                            </lable>
                            <div class="form-outline">
                                <input type="time" id="buffer_after_end" name="buffer_after_end" class="form-control form-control-lg" />
                            </div>
                        </td>
                    </tr>
                    <tr id="afterRiggingTimesInvalidFeedback"
                        style="display:none;">
                        <td colspan="2">
                            <div class="alert alert-danger">
                                Ugyldige tider
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="step-4">
            <div class="row">
                <div class="col-lg-4 col-sm-12">
                    {% if form.display_layouts.field.choices %}
                    <div class="form-group mt-2">
                        <label class="d-block form-label"><i class='fas fa-desktop text-muted'></i>&nbsp; {% trans "Vises på:" %}</label>
                        <ul>
                            {% for choice_id, choice_label in form.display_layouts.field.choices %}
                                <li class='your class'> <input type="checkbox" value="{{choice_id}}" name="display_layouts_create_event" id="{{choice_id}}_dlcheck" />
                                <label for="{{choice_id}}_dlcheck">{{choice_label}}</label></li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                </div>
                <div class="col-lg-8 col-sm-12 mt-sm-2">
                    <div class="form-group" id="display-layout-text-group" style="display: none;">
                        <div>
                            {{ form.display_text|as_crispy_field }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group mt-2">
                {{ form.meeting_place | as_crispy_field }}
            </div>

            <div class="form-group mt-2 mb-2">
                {{ form.meeting_place_en | as_crispy_field }}
            </div>
        </div>
    </div>

    <div class="clearfix">
        <div class="float-start">
            <button class="btn wb-btn-blank btn-lg text-muted"
                    id="cancel"
                    d-trigger="close">
                <i class="fas fa-times"></i>&nbsp;
                Avbryt / Lukk
            </button>
        </div>
        <div class="float-end">
            <button class="btn wb-btn-secondary btn-lg"
                    id="back">
                Tilbake
            </button>
            <button class="btn wb-btn-main btn-lg"
                    id="next">
                Neste
            </button>
            <button class="btn wb-btn-main btn-lg"
                    style="display:none;"
                    d-trigger="submit"
                    id="finish">
                Lagre
            </button>
        </div>
    </div>
</div>


<script type="module">
    import { JSTreeSelect } from "{% static 'js/jsTreeSelect.js' %}";
    import { DateExtensions } from "{% static 'modules/planner/seriesutil.js' %}";

    new Dialog({
        dialogId: '{{ dialogId }}',
        managerName: '{{ managerName }}',
        discriminator: '{{ discriminator }}',
        postInit: function (dialog) {
            document.querySelectorAll('.form-outline').forEach((formOutline) => {
                new mdb.Input(formOutline).init();
            });

            dialog.$('#fromDate').on('change', (e) => {
                dialog.interior.buffer_before_date.value = e.target.value;
            });
            dialog.$('#toDate').on('change', (e) => {
                dialog.interior.buffer_after_date.value = e.target.value;
            });

            dialog.data.schoolAudiences = new Map([
                {% for audience in schoolAudiences %}
                    [{{audience.id}}, { id: {{audience.id}}, text: "{{audience.name}}" }],
                {% endfor %}
            ]);

            dialog.data.countyOptions = [
                {% for county in counties %}
                    {
                        id: {{county.id}},
                        text: "{{county.name}}",
                        schools: [
                            {% for school in county.schools %}
                                {
                                    id: {{school.id}},
                                    text: "{{school}}",
                                    parent: {{school.parent_id|default:0}},
                                    audiences: [
                                        {% for audience in school.audiences.all %}
                                            {{audience.id}},
                                        {% endfor %}
                                    ],
                                },
                            {% endfor %}
                        ],
                    },
                {% endfor %}
            ];

            dialog.data.audienceJsTreeSelect = new JSTreeSelect({
                element: dialog.querySelector('#audience_jstree_select'),
                treeJsonSrcUrl: "/arrangement/audience/tree",
                initialSelected: dialog.getElementById('_backingAudienceId').value ? { id: dialog.getElementById('_backingAudienceId').value } : undefined,
                onValueSet: ( data ) => {
                    if (dialog.data.schoolAudiences.get(parseInt(data.selected[0])) !== undefined) {
                        dialog.getElementById('school_options').style.display = "block";
                    }
                    else {
                        dialog.getElementById('school_options').style.display = "none";
                    }
                },
                valueSelectedLabelText: ( selected ) => {
                    let labelText = '';

                    if (selected.parent && selected.parent.text)
                        labelText += (selected.parent.text + " | ");
                    
                    labelText += selected.text;

                    return labelText;
                },
                noneSelectedLabelText: "Ingen målgruppe valgt ennå",
                selectFirstTimeButtonText: 'Velg målgruppe',
                changeSelectedValueButtonText: 'Endre målgruppe',
                popoverSaveChoicesButtonText: 'Lagre valg',
            });

            dialog.$('#schoolSelect').select2({
                dropdownParent: dialog.$dialogElement
            });

            dialog.data.onCountyChange = function () {
                const selectedCountyId = dialog.getElementById("countySelect").value;

                if (dialog.$("#schoolSelect").data("select2")) {
                    dialog.$("#schoolSelect").select2("destroy");
                    dialog.$("#schoolSelect").empty();
                }

                let selectedAudienceId = parseInt(dialog.data.audienceJsTreeSelect.getSelectedValue()); 
                let schoolOptions = [{
                    id: 0,
                    text: "Ingen skole valgt",
                }];
                dialog.data.countyOptions.forEach((county) => {
                    if (county.id == selectedCountyId) {
                        county.schools.forEach((school) => {
                            if (school.audiences.includes(selectedAudienceId) || selectedAudienceId == {{ audienceGroupId }}) {
                                schoolOptions.push({
                                     id: school.id,
                                    text: school.text,
                                })
                            }
                        });
                    }
                });

                setTimeout(function (){ // Has to be delayed to ensure select2 is destroyed. Hrmmph.
                    dialog.$('#schoolSelect').select2({
                        data: schoolOptions,
                        dropdownParent: dialog.$dialogElement
                    });

                    let $containerEl = dialog.$('#schoolSelect').next(".select2-container");
                    $containerEl.css("width", "100%");
                    $containerEl.css("display", "block");
                }, 50);
            }

            dialog.getElementById("countySelect").addEventListener("change", () => {
                dialog.data.onCountyChange();
            });
            dialog.getElementById("audience_jstree_select").addEventListener("change", () => {
                dialog.data.onCountyChange();
            });

            if (dialog.getElementById("countySelect").value) {
                dialog.data.onCountyChange();
            }

            dialog.data.arrangementTypeJsTreeSelect = new JSTreeSelect({
                element: dialog.querySelector('#arrangement_type_jstree_select'),
                treeJsonSrcUrl: '/arrangement/arrangementtype/treelist',
                initialSelected: dialog.getElementById('_backingArrangementTypeId').value ? { id: dialog.getElementById('_backingArrangementTypeId').value } : undefined,
                valueSelectedLabelText: ( selected ) => {
                    let labelText = '';

                    if (selected.parent && selected.parent.text)
                        labelText += (selected.parent.text + " | ");
                    
                    labelText += selected.text;

                    return labelText;
                },
                noneSelectedLabelText: "Ingen arrangementstype valgt ennå",
                selectFirstTimeButtonText: 'Velg arrangementstype',
                changeSelectedValueButtonText: 'Endre arrangementstype',
                popoverSaveChoicesButtonText: 'Lagre valg',
            });
            dialog.data.statusTypeJsTreeSelect = new JSTreeSelect({
                element: dialog.querySelector('#status_type_jstree_select'),
                treeJsonSrcUrl: "/arrangement/statustype/tree",
                initialSelected: dialog.getElementById('_statusTypeId').value ? { id: dialog.getElementById('_statusTypeId').value } : undefined,
                onValueSet: ( data ) => {
                    dialog.getElementById('_statusTypeId').value = data.selected[0];
                },
                valueSelectedLabelText: ( selected ) => {
                    let labelText = '';

                    if (selected.parent && selected.parent.text)
                        labelText += (selected.parent.text + " | ");

                    labelText += selected.text;
                    
                    return labelText;
                },
                noneSelectedLabelText: "Ingen status valgt ennå",
                selectFirstTimeButtonText: 'Velg status',
                changeSelectedValueButtonText: 'Endre status',
                popoverSaveChoicesButtonText: 'Lagre valg',
            });

            dialog.$("#fromTime").on("change", (event) => {
                dialog.$("#buffer_before_end").val(event.target.value);
            });
            dialog.$("#toTime").on("change", (event) => {
                dialog.$("#buffer_after_start").val(event.target.value);
            });

            document.addEventListener("{{managerName}}.d1_peopleSelected", (e) => {
                dialog.data.peopleNameMap = e.detail.context.people_name_map;
                dialog.setPeople({ people: e.detail.context.people });

                dialog.$("#peopleCounter").text(dialog.$("#selectedPeopleWrapper").children().length);
            });
            document.addEventListener("{{managerName}}.d1_roomsSelected", (e) => {
                dialog.data.roomsNameMap = e.detail.context.room_name_map;
                dialog.setRooms({ rooms: e.detail.context.rooms });

                dialog.$("#roomsCounter").text(dialog.$("#selectedRoomsWrapper").children().length);
            });

            dialog.data.stepper = new DialogStepper({
                allowRailBasedNavigation: true,
                railWrapperElement: dialog.getElementById('stepper'),
                steps: [
                    {
                        element: dialog.getElementById('step-1'),
                        title: 'Detaljer',
                        stepIn: () => { console.log("1. Step In") },
                        stepOut: () => { 
                            /** PS!
                             * Be aware that this will cause issues the moment you have inputs or selects
                             * that are not in step-1. As of the writing of this comment all the fields we care
                             * about validating are in step-1, so we can blanket-validate it like this.
                             * This is not the case if you add input or selects to any other steps - and this will
                             * prevent progression to further steps, until the inputs in those future steps are considered
                             * valid, which is of course impossible, since one can not reach them due to this blanket-validation.
                             * */                            
                            if (dialog.validate() === false)
                                return false;

                            const fromDateTime = DateExtensions.OverwriteDateTimeWithTimeInputValue(
                                dialog.interior.fromDate.value,
                                dialog.interior.fromTime.value,
                            )
                            const toDateTime = DateExtensions.OverwriteDateTimeWithTimeInputValue(
                                dialog.interior.toDate.value,
                                dialog.interior.toTime.value,
                            )

                            if (fromDateTime >= toDateTime){
                                $('#eventTimesInvalidFeedback').show();

                                return false;
                            }

                            $('#eventTimesInvalidFeedback').hide();

                            if (!dialog.data.audienceJsTreeSelect.isValid()) {
                                dialog.data.audienceJsTreeSelect.showInvalidFeedback();
                                return false;
                            }
                            if (!dialog.data.arrangementTypeJsTreeSelect.isValid()) {
                                dialog.data.arrangementTypeJsTreeSelect.showInvalidFeedback();
                                return false;
                            }
                            if (!dialog.data.statusTypeJsTreeSelect.isValid())
                            {
                                dialog.data.statusTypeJsTreeSelect.showInvalidFeedback();
                                return false;
                            }

                            return true;
                        }
                    },
                    {
                        element: dialog.getElementById('step-2'),
                        title: 'Rom & Personer',
                        stepIn: () => { console.log("1. Step In") },
                        stepOut: () => { console.log("2. Step Out"); }
                    },
                    {
                        element: dialog.getElementById('step-services'),
                        title: 'Tjenester'

                    },
                    {
                        element: dialog.getElementById('step-3'),
                        title: 'Opp og ned-rigg',
                        visible: {% if HIDE_RIGGING %}false{% else %}true{% endif %},
                        stepIn: () => {},
                        stepOut: (isSteppingForwards) => {
                            let isValid = true;
                            if (dialog.interior.buffer_before_start.value &&
                                dialog.interior.buffer_before_end.value)
                                if (dialog.interior.buffer_before_start.value > dialog.interior.buffer_before_end.value) {
                                    dialog.$('#beforeRiggingTimesInvalidFeedback').show();
                                    isValid = false;
                                }
                                else {
                                    dialog.$('#beforeRiggingTimesInvalidFeedback').hide();
                                }
                            if (dialog.interior.buffer_after_start.value &&
                                dialog.interior.buffer_after_end.value)
                                if (dialog.interior.buffer_after_start.value > dialog.interior.buffer_after_end.value) {
                                    dialog.$('#afterRiggingTimesInvalidFeedback').show();
                                    isValid = false;
                                }
                                else {
                                    dialog.$('#afterRiggingTimesInvalidFeedback').hide();
                                }
                            
                            if (isValid === true) {
                                dialog.$('#beforeRiggingTimesInvalidFeedback').hide();
                                dialog.$('#afterRiggingTimesInvalidFeedback').hide();
                            }

                            return isValid;
                        },
                    },
                    {
                        element: dialog.getElementById('step-4'),
                        title: 'Skjermer',
                        stepIn: () => { 
                            dialog.getElementById('next').style.display = "none";
                            dialog.getElementById('finish').style.display = "inline-block";
                        },
                        stepOut: () => {
                            dialog.getElementById('finish').style.display = "none";
                            dialog.getElementById('next').style.display = "inline-block";
                        },
                    },
                ]
            });
            dialog.getElementById('next').onclick = () => dialog.data.stepper.next();
            dialog.getElementById('back').onclick = () => dialog.data.stepper.back();
        },
        methods: {
            close(dialog, {} = {}, triggeredByElement) {
                dialog.closeMe();
            },
            submit(dialog, {} = {}, triggeredByElement) {
                if (dialog.validate() === false) {
                    console.warn("Validation failed.")
                    return;
                }


                let qualifiedEvent = {
                    _uuid:                      dialog.interior.event_uuid.value,
                    title:                      dialog.interior.title.value,
                    title_en:                   dialog.interior.title_en.value,
                    ticket_code:                dialog.interior.ticket_code.value,
                    expected_visitors:          dialog.interior.expected_visitors.value,
                    audience:                   dialog.data.audienceJsTreeSelect.getSelectedValue(),
                    arrangement_type:           dialog.data.arrangementTypeJsTreeSelect.getSelectedValue(),
                    start:                      new Date( dialog.interior.fromDate.value   + "T" + dialog.interior.fromTime.value ),
                    end:                        new Date( dialog.interior.toDate.value     + "T" + dialog.interior.toTime.value ),
                    arrangement:                0,
                    rooms:                      Array.from(dialog.data.selectedRoomIds.keys()),
                    people:                     Array.from(dialog.data.selectedPeopleIds.keys()),
                    people_name_map:            dialog.data.peopleNameMap,      // Kept due to edit - not pertinent for save
                    room_name_map:              dialog.data.roomsNameMap,       // Kept due to edit - not pertinent for save
                    before_buffer_title:        dialog.interior.buffer_before_title.value ?? "",
                    before_buffer_date:         dialog.interior.buffer_before_date.value,
                    before_buffer_start:        dialog.interior.buffer_before_start.value ?? "",
                    before_buffer_end:          dialog.interior.buffer_before_end.value ?? "",
                    after_buffer_title:         dialog.interior.buffer_after_title.value ?? "",
                    after_buffer_date:          dialog.interior.buffer_after_date.value,
                    after_buffer_start:         dialog.interior.buffer_after_start.value ?? "",
                    after_buffer_end:           dialog.interior.buffer_after_end.value ?? "",
                    meeting_place:              dialog.interior.id_meeting_place.value,
                    meeting_place_en:           dialog.interior.id_meeting_place_en.value,
                    responsible:                dialog.interior.id_responsible.value,
                    display_text:               dialog.plugins.showIfSelected.isInShowState() ? dialog.interior.id_display_text.value : '',
                    room_payload:               dialog.data.roomPayload,
                    people_payload:             dialog.data.peoplePayload,
                    planner_payload:            dialog.data.mainPlannerPayload,
                    serie_uuid:                 dialog.interior._serie_reference.value,
                    serie_position_hash:        dialog.interior._serie_position_hash.value,
                    parent_serie_position_hash: dialog.interior._parent_serie_position_hash.value,
                    start_before_collision_resolution: dialog.interior.start_before_collision_resolution.value,
                    end_before_collision_resolution: dialog.interior.end_before_collision_resolution.value,
                    title_before_collision_resolution: dialog.interior.title_before_collision_resolution.value,

                    school:                    dialog.getElementById("schoolSelect").value == 0 ? "" : dialog.getElementById("schoolSelect").value,
                    county:                   dialog.getElementById("countySelect").value == 0 ? "" : dialog.getElementById("countySelect").value,

                    ordered_services: dialog.data.serviceOrders,
                };

                let statusValue = dialog.data.statusTypeJsTreeSelect.getSelectedValue();
                if (statusValue !== undefined)
                    qualifiedEvent.status = statusValue;

                qualifiedEvent.display_layouts = 
                    [...dialog.querySelectorAll("input[name='display_layouts_create_event'][type='checkbox']:checked")]
                        .map(element => element.value);

                dialog.raiseSubmitEvent({
                    event: qualifiedEvent,
                    csrf_token: '{{csrf_token}}',
                });
            },
            validate(dialog, {} = {}, triggeredByElement) {
                let field_elements = dialog.$('#newSimpleActivityForm').find("input, select");
                let isInvalid = false;

                for (let i = 0; i < field_elements.length; i++) {
                    if (field_elements[i].checkValidity() === false) {
                        isInvalid = true;
                        break;
                    }
                }

                if (isInvalid) {
                    dialog.$('#newSimpleActivityForm').find(':submit').click();
                    return false;
                }

                return true;
            },
            removeAssociation(dialog, {} = {}, triggeredByElement) {
                const itemId = triggeredByElement.id;
                const type = triggeredByElement.getAttribute("select-type");

                let mapOfSelectedItemIds = null;
                let appropriatePresetMap = null;
                let reflectorHook = null;

                if (type === "room") {
                    mapOfSelectedItemIds = dialog.data.selectedRoomIds;
                    appropriatePresetMap = dialog.data.roomPresets;
                    reflectorHook = (dialog) => {
                        dialog.data.roomPayload.allSelectedEntityIds = dialog.data.selectedRoomIds.entries().map(([id, text]) => { return { id: id, text: text } });
                        dialog.data.roomPayload.selectedPresets = Array.from(dialog.data.roomPresets.keys());

                        window.MessagesFacility.send(
                            "orderRoomDialog",
                            { selectedBundle: dialog.data.roomPayload },
                            "setRoomSelection"
                        )
                    }
                }
                else if (type === "person") {
                    mapOfSelectedItemIds = dialog.data.selectedPeopleIds;
                    appropriatePresetMap = dialog.data.personPresets;

                    reflectorHook = (dialog) => {
                        dialog.data.peoplePayload.allSelectedEntityIds = dialog.data.selectedPeopleIds.entries().map(([id, text]) => { return { id: id, text: text } });
                        dialog.data.peoplePayload.selectedPresets = Array.from(dialog.data.personPresets.keys());

                        window.MessagesFacility.send(
                            "orderPersonDialog",
                            { selectedBundle: dialog.data.peoplePayload },
                            "setPeopleSelection"
                        )
                    }
                }
                else {
                    throw Error(`Type '${type}' not recognized`)
                }

                if (itemId.startsWith("preset_")) {
                    const preset = appropriatePresetMap.get(itemId.split("_")[1]);
                    preset.ids.forEach((id) => mapOfSelectedItemIds.delete(itemId));
                }
                else {
                    mapOfSelectedItemIds.delete(itemId);
                }

                if (reflectorHook)
                    reflectorHook(dialog);
                
                triggeredByElement.remove();
            },
            triggerOrderService(dialog, {} = {}, triggeredByElement) {
                dialog.raiseTriggerEvent(
                    "{{managerName}}", "orderServiceDialog", 
                    { 
                        $parent: dialog.dialogElement, 
                        sendTo: '{{dialogId}}', 
                        renderInChain: true,
                        data: { whenEventName: "newServiceOrder" },
                        entity_type: "event",
                        entity_id: "0",
                    }
                )
            },
            triggerAddRooms(dialog, {} = {}, triggeredByElement) {
                dialog.raiseTriggerEvent(
                    "{{managerName}}", "{{orderRoomDialog}}", 
                    { 
                        $parent: dialog.dialogElement, 
                        sendTo: '{{dialogId}}', 
                        renderInChain: true,
                        data: { whenEventName: "roomsSelected", selectedBundle: dialog.data.roomPayload }  
                    }
                );
            },
            triggerAddPeople(dialog, {} = {}, triggeredByElement) {
                dialog.raiseTriggerEvent(
                    "{{managerName}}", "{{orderPersonDialog}}", 
                    { 
                        $parent: dialog.dialogElement, 
                        sendTo: '{{dialogId}}', 
                        multiple: true, 
                        renderInChain: true, 
                        data: { whenEventName: "peopleSelected", selectedBundle: dialog.data.peoplePayload } 
                    }
                );
            },
            triggerSetPlanner(dialog, {} = {}, triggeredByElement) {
                dialog.raiseTriggerEvent("{{managerName}}", "{{orderPersonDialog}}", 
                { 
                    $parent: dialog.dialogElement, 
                    sendTo: '{{dialogId}}', 
                    multiple: false, 
                    renderInChain: true, 
                    data: { whenEventName: "setPlanner", selectedBundle: dialog.data.mainPlannerPayload } 
                }
            )},
            removeServiceOrder(dialog, { id }, triggeredByElement) {
                dialog.data.serviceOrders = dialog.data.serviceOrders.filter((order) => order.key !== id);
                dialog.$(`#${id}`).remove();
            },
        },
        data: {
            selectedPeopleIds: new Map(),
            selectedRoomIds: new Map(),
            peopleNameMap: new Map(),
            roomsNameMap: new Map(),
            stepper: null,
            serviceOrders: [],
        },
        when: [
            { eventKnownAs: "roomsSelected", do: (dialog, payload) => {
                let wrapper = dialog.$('#selectedRoomsWrapper');
                wrapper.empty();

                payload.viewables.forEach((room) => {
                    wrapper.append(
                        $(`<selected-pill name='${room.text}'
                                          id='${room.id}'
                                          select-type='room'
                                          class='bg-white p-2 shadow-4 me-2 mt-1 border border-dark'
                                          d-trigger='removeAssociation'>
                           </selected-pill>`)    
                    );
                });

                dialog.data.selectedRoomIds = new Map();
                dialog.data.roomPresets = new Map();
                payload.allSelectedEntityIds.forEach( (x) => dialog.data.selectedRoomIds.set(x.id, x.text) );
                payload.selectedPresets.forEach( (presetId) => dialog.data.roomPresets.set(presetId, payload.allPresets.get(presetId)) );

                dialog.data.roomPayload = payload;
            } },
            { eventKnownAs: "peopleSelected", do: (dialog, payload) => {
                let wrapper = dialog.$('#selectedPeopleWrapper');
                wrapper.empty();

                payload.viewables.forEach((person) => {
                    wrapper.append(
                        $(`<selected-pill name='${person.text}'
                                          id='${person.id}'
                                          select-type='person'
                                          class='bg-white p-2 shadow-4 me-2 mt-1 border border-dark'
                                          d-trigger='removeAssociation'>
                           </selected-pill>`)    
                    );
                });

                dialog.data.selectedPeopleIds = new Map();
                dialog.data.personPresets = new Map();
                payload.allSelectedEntityIds.forEach( (x) => dialog.data.selectedPeopleIds.set(x.id, x.text) );
                payload.selectedPresets.forEach( (presetId) => dialog.data.personPresets.set(presetId, payload.allPresets.get(presetId)) );

                dialog.data.peoplePayload = payload;
            } },
            { eventKnownAs: "setPlanner", do: (dialog, payload) => {
                if (payload.allSelectedEntityIds.length == 0)
                    return;

                const person = payload.viewables[0];

                dialog.data.mainPlannerPayload = payload;
                
                dialog.getElementById('{{ form.responsible.id_for_label }}').value = person.id;
                dialog.getElementById('mainPlannerName').innerText = person.text;
                dialog.getElementById('setMainPlannerButton').innerText = "Endre hovedplanlegger";
            } },
            { eventKnownAs: "setCountyFromParent", do: (dialog, payload) => {
                console.log("Setting county from parent", payload);
                dialog.$('#countySelect').val(payload);
                // dialog.$('#countySelect').trigger('change');
                if (dialog.data.onCountyChange)
                    dialog.data.onCountyChange();
            } },
            { eventKnownAs: "setSchoolFromParent", do: (dialog, payload) => {
                console.log("Setting school from parent", payload);
                dialog.$('#schoolSelect').val(payload);
            } },
            { eventKnownAs: "setAudienceFromParent", do: (dialog, payload) => {
                if (dialog.data.audienceJsTreeSelect)
                    dialog.data.audienceJsTreeSelect.setSelected(payload);
                else
                    dialog.$('#_backingAudienceId').val(payload);
            } },
            { eventKnownAs: "setArrangementTypeFromParent", do: (dialog, payload) => {
                if (dialog.data.arrangementTypeJsTreeSelect)
                    dialog.data.arrangementTypeJsTreeSelect.setSelected(payload);
                else
                    dialog.$('#_backingArrangementTypeId').val(payload);
            } },
            { eventKnownAs: "setStatusFromParent", do: (dialog, payload) => {
                if (dialog.data.statusTypeJsTreeSelect)
                    dialog.data.statusTypeJsTreeSelect.setSelected(payload);
                else
                    dialog.$('#_statusTypeId').val(payload);
            } },
            { eventKnownAs: "newServiceOrder", do: (dialog, payload) => {
                payload = payload[0];
                payload.key = Math.random().toString(36).substring(7);
                dialog.data.serviceOrders.push(payload);
                console.log("Service orders", dialog.data.serviceOrders);
                console.log("newServiceOrder.payload", payload);
                dialog.$("#serviceOrders").append(
                    $(`<div class='card card-body shadow-0 wb-bg-secondary border border-dark mt-2' id='${payload.key}'>
                            <h5>
                                ${payload.service_name}
                                <button class='btn wb-btn-main-outline border border-dark shadow-0 float-end' 
                                    @click='serviceOrders.splice(serviceOrders.indexOf(order), 1)'
                                    select-type='serviceOrder' 
                                    d-trigger='removeServiceOrder'
                                    d-arg-id='${payload.key}'>
                                    
                                    <i class='fas fa-times'></i>
                                </button>
                            </h5>
                            <code>
                                ${payload.freetext_comment}
                            </code>
                        </div>`)
                );
            } },
        ],
        plugins: [
            {
                name: 'showIfSelected',
                pluginClass: DialogShowIfSelectedPlugin,
                args: {
                    checkboxesSelector: "[name='display_layouts_create_event']",
                    elementToShowOrHide: ( dialog ) => { return dialog.getElementById('display-layout-text-group'); },
                    showIfAnyOfTheseValuesMap: new Map([
                        {% for display_layout in DISPLAY_LAYOUTS_WITH_REQUISITE_TEXT %}
                            [ "{{ display_layout.id }}", true],
                        {% endfor %}
                    ]),
                },
            }
        ],
    });
</script>
