{% load static i18n %}



<div id="newSimpleActivityDialog" title="<span class='badge badge-success'><i class='fas fa-calendar'></i></span>&nbsp; Ny enkel aktivitet">
    <div>
        <form id="newSimpleActivityForm">
            <input type="submit" style="display:none;" />

            <input type="hidden" name="uuid" id="event_uuid">

            <div class="form-group">
                <label class="d-block">Tittel <small class="text-muted float-end"> * Required</small></label>
                <input type="text" class="form-control" id="title" code-qualified-name="title" required/>
            </div>
            <div class="form-group mt-2">
                <label class="d-block">Tittel <em class="small">(engelsk)</em> <small class="text-muted float-end"> * Required</small></label>
                <input type="text" class="form-control" id="title_en" code-qualified-name="title" required/>
            </div>
            <div class="form-group mt-2">
            <div class="row">
                <div class="col-6">
                <label class="d-block">Ticket Code</label>
                <div class="input-group flex-nowrap">
                    <span class="input-group-text"><i class="fas fa-receipt"></i></span>
                    <input type="text" class="form-control" id="ticket_code" code-qualified-name="title"/>
                </div>
            </div>

            <div class="col-6">
                <label class="d-block">Expected amount of visitors</label>
                <div class="input-group flex-nowrap">
                    <span class="input-group-text"><i class="fas fa-users"></i></span>
                    <input type="text" class="form-control" id="expected_visitors" code-qualified-name="title" value="0"/>
                </div>
            </div>
              </div>
            </div>

            <div class="form-group mt-2">
                <label class="d-block">Fra <small class="text-muted float-end"> * Required</small></label>
                <div class="row">
                <div class="col-6">
                    <div class="input-group flex-nowrap">
                        <div class="input-group-text">
                            <i class="fas fa-calendar"></i>
                        </div>
                        <input type="date" class="form-control" id="fromDate" code-qualified-name="fromDate" required>
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-group flex-nowrap">
                        <div class="input-group-text">
                            <i class="fas fa-clock"></i>
                        </div>
                        <input type="time" class="form-control" id="fromTime" code-qualified-name="fromTime" required>
                    </div>
                </div>
                </div>
            </div>

            <div class="form-group mt-2">
                <label class="d-block">Til <small class="text-muted float-end"> * Required</small></label>
                <div class="row">
                <div class="col-6">
                    <div class="input-group flex-nowrap">
                        <div class="input-group-text">
                            <i class="fas fa-calendar"></i>
                        </div>
                        <input type="date" class="form-control" id="toDate" code-qualified-name="toDate" required>
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-group flex-nowrap">
                        <div class="input-group-text">
                            <i class="fas fa-clock"></i>
                        </div>
                        <input type="time" class="form-control" id="toTime" code-qualified-name="toTime" required>
                    </div>
                </div>
                </div>
            </div>

            <div class="form-group mt-3">
            <div class="row">
                <div class="col-6">
                <label class="d-block"><i class='fas fa-desktop'></i>&nbsp; {% trans "Show on:" %}</label>
                <!-- {{form.display_layouts}} -->
                <ul style="list-style-type:none">
                    {% for choice_id, choice_label in form.display_layouts.field.choices %}
                        <li class='your class'> <input type="checkbox" value="{{choice_id}}" name="display_layouts_create_event" id="{{choice_id}}_dlcheck" />
                        <label for="{{choice_id}}_dlcheck">{{choice_label}}</label></li>
                    {% endfor %}
                </ul>
              </div>
             <div class="col-6">
                <label class="d-block"><i class='fas fa-desktop'></i>&nbsp; {% trans "Note:" %}</label>
                <!-- {{form.notes}} -->

                <textarea code-qualified-name="notes" name="note" cols="36" rows="4" name="note_create_event" id="noteToEvent"></textarea>

              </div>
            </div>
            </div>

            <div class="row mt-4">
                <div class="col-6">
                    <button class="playfulButton playfulButton-green"
                        onclick="dialogCreateEvent__openAddRooms()"
                        type="button">
                        <div class="icon"><i class="fas fa-plus"></i></div>
                        Legg til rom
                    </button>

                    <div class="mt-2 table-responsive">
                        <table class="table-sm table">
                            <thead>
                                <tr>
                                    <th colspan="2">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="a" id="a" name="a" checked/>
                                            <!-- <label class="form-check-label" for="a"> Velg alle.. </label> -->
                                        </div>
                                    </th>
                                    <th><i class="fas fa-trash text-danger"></i></th>
                                </tr>
                            </thead>
                            <tbody id="roomsTbody__d1">
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-6">
                    <button class="playfulButton  playfulButton-green"
                        onclick="dialogCreateEvent_openAddPeople()"
                        type="button">
                        <div class="icon"><i class="fas fa-plus"></i></div>
                        Legg til personer
                    </button>

                    <div class="mt-2 table-responsive">
                        <table class="table-sm table">
                            <tbody id="peopleTbody__d1">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
        <div class="clearfix">
            <button class="mt-2 float-end btn btn-sm btn-success" onclick="dialogCreateEvent__submit()">Lagre</button>
        </div>
    </div>
</div>


<script>
    var peopleNameMap = new Map();
    var roomsNameMap = new Map();

    document.addEventListener("{{managerName}}.d1_peopleSelected", (e) => {
        peopleNameMap = e.detail.context.people_name_map;
        dialogCreateEvent__setPeople(e.detail.context.people);
    })
    document.addEventListener("{{managerName}}.d1_roomsSelected", (e) => {
        roomsNameMap = e.detail.context.room_name_map;
        dialogCreateEvent__setRooms(e.detail.context.rooms);
    })

    function dialogCreateEvent__setRooms(rooms) {
        var tbody = $('#roomsTbody__d1');
        tbody.empty();

        var ids = rooms.split(",");

        ids.forEach(id => {
            tbody.append(
                $(`<tr rowid='${id}'>
                    <td> <input type='checkbox' /> </td>
                    <td>${roomsNameMap.get(id)}</td>
                    <td> <a href='#' class='text-danger'
                            data-mdb-toggle='tooltip'
                            title='{% trans "Remove this room from the activity" %}'
                            onclick='dialogCreateEvent__removeAssociation(this)'>
                                <i class='fas fa-trash'></i>
                            </a>
                    </td>
                   </tr>`)
            )
        });
    }

    function dialogCreateEvent__setPeople(people) {
        var tbody = $('#peopleTbody__d1');
        tbody.empty();
        var ids = people.split(",");

        ids.forEach(id => {
            tbody.append(
                $(`<tr rowid='${id}'>
                    <td>${peopleNameMap.get(id)}</td>
                    <td> <a href='#' class='text-danger'
                            data-mdb-toggle='tooltip'
                            title='{% trans "Remove this person from the activity" %}'
                            onclick='dialogCreateEvent__removeAssociation(this)'>
                                <i class='fas fa-trash'></i>
                            </a>
                    </td>
                   </tr>`)
            )
        });
    }

    function validateNewSimpleActivityForm() {
        let field_elements = $('#newSimpleActivityForm').find("input, select");

        let isInvalid = false;

        for (let i = 0; i < field_elements.length; i++) {
            if (field_elements[i].checkValidity() === false) {
                isInvalid = true;
                break;
            }
        }

        if (isInvalid) {
            $('#newSimpleActivityForm').find(':submit').click();
            return false;
        }

        return true;
    }

    function dialogCreateEvent__removeAssociation(a) {
        var row = $(a).closest("tr")[0];
        var rowid = row.getAttribute("rowid");
        row.remove();
    }

    function dialogCreateEvent__openAddRooms() {
        document.dispatchEvent(new Event("{{managerName}}.{{orderRoomDialog}}.trigger"));
    }

    function dialogCreateEvent_openAddPeople() {
        document.dispatchEvent(new Event("{{managerName}}.{{orderPersonDialog}}.trigger"));
    }

    function dialogCreateEvent__getSelectedRoomIds() {
        var room_ids = Array.from($("#roomsTbody__d1")[0].children).map(row => row.getAttribute("rowid"));
        return room_ids;
    }

    function dialogCreateEvent__getSelectedPeopleIds() {
        var people_ids = Array.from($("#peopleTbody__d1")[0].children).map(row => row.getAttribute("rowid"));
        return people_ids;
    }

    function dialogCreateEvent__submit() {
        if (validateNewSimpleActivityForm() === false) {
            return;
        }

        var qualifiedEvent = {
            _uuid: $('#event_uuid').val(),
            title: $('#title').val(),
            title_en: $('#title_en').val(),
            ticket_code: $('#ticket_code').val(),
            expected_visitors: $('#expected_visitors').val(),
            start: new Date( $('#fromDate').val() + "T" + $('#fromTime').val() ).toISOString(),
            end: new Date( $('#toDate').val() + "T" + $('#toTime').val() ).toISOString(),
            notes: $('#noteToEvent').val(),
            arrangement: 0,
            rooms: dialogCreateEvent__getSelectedRoomIds(),
            people: dialogCreateEvent__getSelectedPeopleIds(),
            people_name_map: peopleNameMap, // Kept due to edit - not pertinent for save
            room_name_map: roomsNameMap,    // Kept due to edit - not pertinent for save
        }

        let displayLayouts = [];
        document.querySelectorAll("input[name='display_layouts_create_event'][type='checkbox']:checked").forEach(element => {
            displayLayouts.push(element.value)
        })
        qualifiedEvent.display_layouts = displayLayouts.join(",");

        document.dispatchEvent(
            new CustomEvent(
                "{{managerName}}.submit",
                {
                    'detail': { 'dialog': "newSimpleActivityDialog", 'event': qualifiedEvent, 'csrf_token': '{{ csrf_token }}' }
                }
            )
        );
    }
</script>
