{% load static i18n %}
{% load custom_tags %}

<div id="{{dialogId}}" class="{{discriminator}}">
    <h3>Bestilling av tjeneste {{object.service}}</h3>
    
    {% if user|has_group:"planners" or user.is_superuser and object.state != "cancelled" and object.state != "denied" %}
    <div class="clearfix mb-2">
        <div class="float-start">
            <button class="btn wb-btn-main" d-trigger="cancelOrder" type="button">
                <i class="fas fa-times"></i>
                Kanseller bestillingen
            </button>
        </div>
    </div>
    {% endif %}
    <div class="alert alert-light justify-content-between
                {% if object.state == 'awaiting' or object.state == 'changed' %}mild-warning
                {% elif object.state == 'denied' or object.state == 'cancelled' %}mild-danger
                {% elif object.state == 'in_revision'}bg-secondary
                {% elif object.state == 'confirmed' %}mild-success
                {% endif %}">
        <div class="row">
            <div class="col-1 d-flex align-middle d-flex align-items-center">
                <h3 class="fw-bolder">Status</h3>
            </div>
            <div class="col-11 d-flex justify-content-between">
                <div class="p-2">
                    <h4>
                        {% if object.state == "awaiting" %}
                            Venter behandling
                            <h6>Koordinator har ikke ennå behandlet denne bestillingen</h6>
                        {% elif object.state == "denied" %}
                            Avvist
                            <h6>Koordinator har avvist denne bestillingen</h6>
                        {% elif object.state == "confirmed" %}
                            <i class="fas fa-check text-success"></i>&nbsp;
                            Bekreftet
                            <h6>Koordinator har bekreftet denne bestillingen</h6>
                        {% elif object.state == "in_revision" %}
                            <i class="fas fa-edit"></i>&nbsp;
                            Åpnet for revidering
                            <h6>Koordinator har åpnet denne bestillingen for revidering</h6>
                        {% elif object.state == "changed" %}
                            Basis for bestilling har blitt endret, koordinator må bekrefte endringer
                            <h6>En endring har blitt gjort i tidspunktene denne bestillingen omfatter, koordinator må gjennomgå 
                                endringene og gjøre eventuelle justeringer, for så på ny ferdigstille bestillingen.
                            </h6>
                        {% elif object.state == "cancelled" %}
                            Kansellert
                            <h6>Planlegger har kansellert denne bestillingen</h6>
                        {% endif %}
                    </h4>
                </div>

                <h1 class="d-flex align-items-center">
                    {% if object.state == "awaiting" %}
                        <i class="fas fa-hourglass"></i>
                    {% elif object.state == "denied" %}
                        <i class="fas fa-hand-paper"></i>
                    {% elif object.state == "confirmed" %}
                        <i class="fas fa-check"></i>
                    {% elif object.state == "cancelled" %}
                        <i class="fas fa-times"></i>
                    {% endif %}
                </h1>
            </div>
        </div>
    </div>
    <div class="alert alert-light wb-bg-secondary">
        <div class="row">
            <div class="col-1 d-flex align-middle d-flex align-items-center">
                <h3 class="fw-bolder mb-0">For</h3>
            </div>
            <div class="col-11 d-flex justify-content-between">
                <div class="p-2 w-100">
                    <h4 class="mb-0">
                        {{ SAMPLE_BASIS_ITEM.title }}

                        {% if object.associated_manifest %}
                            {{ object.associated_manifest.title}}
                        {% else %}
                        {% endif %}
                    </h4>
                </div>

                <h1 class="mb-0 align-middle d-flex align-items-center">
                    {% if BASIS_TYPE == "serie" %}
                    <i class="fas fa-sync"></i>
                    {% elif BASIS_TYPE == "event" %}
                    <i class="fas fa-calendar"></i>
                    {% endif %}
                </h1>
            </div>
        </div>
    </div>


    <!-- Tabs navs -->
    <ul class="nav nav-tabs webook-tabs mb-3" id="ex1" role="tablist">
        <li class="nav-item" role="presentation">
        <a
            class="nav-link active"
            id="ex1-tab-1"
            data-mdb-toggle="tab"
            href="#serviceOrder_informationTab"
            role="tab"
            aria-controls="ex1-tabs-1"
            aria-selected="true"
            ><i class="fas fa-info-circle"></i>&nbsp; Informasjon om bestillingen</a
        >
        </li>
        <li class="nav-item" role="presentation">
        <a
            class="nav-link"
            id="ex1-tab-2"
            data-mdb-toggle="tab"
            href="#serviceOrder_timesTab"
            role="tab"
            aria-controls="ex1-tabs-2"
            aria-selected="false"
            ><i class="fas fa-table"></i>&nbsp; Tider</a
        >
        </li>
    </ul>
    <!-- Tabs navs -->
    
    <!-- Tabs content -->
    <div class="tab-content" id="ex1-content">
        <div
        class="tab-pane fade show active"
        id="serviceOrder_informationTab"
        role="tabpanel"
        aria-labelledby="ex1-tab-1"
        >
        
        <div class="col-12">
            <form action="">
                {% csrf_token %}
                <div class="mb-3 shadow-0 p-3 rounded-6">
                    <input type="hidden" name="id" value="{{object.id}}">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="" class="h5">Bestilt av:</label>
                                        <select name="" id="" class="form-control" disabled>
                                            <option value="0" selected>{{ object.created_by }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="" class="h5">Bestilt når:</label>
                                        <input type="datetime" class="form-control" name="" value="{{object.created}}" id="" disabled>
                                    </div>
                                </div>
                            </div>

                            <label for="" class="mt-3 h5">Kommentar</label>
                            <textarea name="" id="" cols="30" rows="5" class="form-control" disabled>{{object.freetext_comment}}</textarea>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        </div>
        <div class="tab-pane fade" id="serviceOrder_timesTab" role="tabpanel" aria-labelledby="ex1-tab-2">
            <div class="row">
                <div class="col-12">
                    <table class="shadow-0 table-bordered table table-sm mt-3 align-middle">
                        <tr class="mt-2 wb-bg-secondary">
                            <th class="h5 text-center"><i class="fas fa-table"></i>&nbsp; Tider</th>
                        </tr>
                    {% for provision in object.provisions.all %}
                            <tr class="hlist-item ">
                                <td class="align-middle h6"> 
                                    <div class="d-flex justify-content-between mb-2 align-items-center mt-2 align-middle">
                                        <div class="d-flex align-items-center align-middle">
                                            <a class="btn btn-sm text-white btn-floating shadow-0 me-3
                                                {% if provision.is_complete %}bg-success{% else %}bg-warning{% endif %}">
                                                <i class="fas fa-1x
                                                    {% if provision.is_complete %}fa-check
                                                    {% else %}fa-hourglass
                                                    {% endif %}">
 
                                                </i> 
                                            </a>
                                            <h5 class="mb-0">{{provision.for_event.title}}</h5>
                                        </div>

                                        <em class="float-end fw-bold"><small>{{provision.for_event.start}} - {{provision.for_event.end}}</small></em>
                                    </div>

                                    {% if provision.selected_personell.exists %}
                                    <div>
                                        <table class="table table-striped table-sm">
                                            <tbody>
                                                {% for person in provision.selected_personell.all %}
                                                <tr>
                                                    <td>{{person}}</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    {% endif %}
                                </td>
                            </tr>
                    {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    new Dialog({
        managerName: '{{managerName}}',
        dialogId: "{{dialogId}}",
        discriminator: "{{discriminator}}",
        postInit: function (dialog) {},
        methods: {
            submit(dialog, {} = {}, triggeredByElement) {
            },
            cancelOrder(dialog, {} = {}, triggeredByElement) {
                let formData = new FormData();
                formData.append("service_order_id", "{{object.id}}");

                Swal.fire({
                    title: 'Er du sikker?',
                    text: "Er du sikker på at du ønsker å kansellere denne ordren?",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Kanseller ordren',
                    preConfirm: (login) => {
                        return fetch("{% url 'arrangement:cancel_service_order' %}", {
                            method: 'POST',
                            headers: {
                                "X-CSRFToken": "{{csrf_token}}",
                            },
                            body: formData
                        }).then(response => {
                            if (!response.ok)
                                throw new Error(response.statusText);
                            return response.json()
                        }).catch(error => {
                            Swal.showValidationMessage(
                                `Kansellering feilet`
                            );
                            console.error(error);
                        });
                    },
                    showLoaderOnConfirm: true,
                    cancelButtonText: "Avbryt"
                  }).then((result) => {
                    if (result.isConfirmed) {
                        toastr.success("Ordre #{{object.pk}} har blitt kansellert")
                        dialog.raiseSubmitEvent(); // Refresh of parent delegated to submit event on manager
                        dialog.closeMe();
                    }
                });
            }
        },
        data: {}
    })
</script>