{% load static i18n %}

<div class="table-responsive">
    <table class="table table-sm" id="roomList">
        <thead  class="text-center">
            <tr>
                <th class="h5">Navn</th>
                <th class="h5">Maks Antall Personer</th>
                <th class="h5">Aktiv</th>
                <th class="h5">Eksklusiv?</th>
                <th class="h5">Skjerm?</th>
                <th class="h5">Valg</th>
            </tr>
        </thead>

        <tbody class="text-center align-middle">
            {% for item in object_list.all %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.max_capacity }}</td>

                    <td>
                        {% if item.is_disabled %}
                            <i class="fas fa-times text-danger"></i>
                        {% else %}
                            <i class="fas fa-check text-success"></i>
                        {% endif %}
                    </td>

                    <td>
                        {% if item.is_exclusive %}
                            <i class="fas fa-check text-success"></i>
                        {% else %}
                            <i class="fas fa-times text-danger"></i>
                        {% endif %}
                    </td>
                     <td>
                        {% if item.has_screen %}
                            <i class="fas fa-check text-success"></i>
                        {% else %}
                            <i class="fas fa-times text-danger"></i>
                        {% endif %}
                    </td>
                    <td>
                        <!-- <a
                            class="btn wb-btn-main btn-sm"
                            href="">
                            <i class="fas fa-trash"></i>&nbsp;
                        </a> -->
                        <a
                            class="btn wb-btn-main btn-sm"
                            href="{% url 'arrangement:room_edit' item.slug %}">
                            <i class="fas fa-edit"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>



</div>

<script>
    $(document).ready(function () {
        $('#roomList').DataTable({
            dom: 'Bfrtip',
            buttons: [
                { extend: 'copy', className: 'wb-btn-white text-dark' },
                { extend: 'excel', className: 'wb-btn-white text-dark' },
                { extend: 'pdf', className: 'wb-btn-white text-dark' },
                { extend: 'print', className: 'wb-btn-white text-dark' }
            ]
        });
    });
</script>