{% extends "users/users_base.html" %}
{% load static %}
{% load static i18n %}
{% load custom_tags %}


{% block title %}User: {{ object.get_representative_name }}{% endblock %}

{% block inner %}

    <div class="d-flex justify-content-between align-items-center w-100">
        <div>
            <div class="d-flex justify-content-between w-100 mb-2">
                <div>
                    <div class="btn-group wb-btn-white shadow-0">
                        <button class="btn border-1 wb-large-btn wb-btn-white shadow-0"
                            id="planner__moveBackOneIntervalButton">
                            <h5 class="mb-0"> <i class="fas fa-angle-left"></i> </h5>
                        </button>
                        <button class="btn border-1 wb-large-btn wb-btn-white shadow-0"
                            id="planner__moveForwardOneIntervalButton">
                            <h5 class="mb-0"> <i class="fas fa-angle-right"></i> </h5>
                        </button>
                    </div>

                    <span  style="font-size: large!important;;" class="me-5 ms-5">
                        <span id="plannerCalendarHeader"></span>
                    </span>

                    <button class="btn wb-large-btn wb-btn-secondary ms-2 border-0 shadow-0"
                        id="planner__todayButton">
                        I dag
                    </button>
                    <button class="btn  wb-large-btn wb-btn-secondary border-0 shadow-0"
                        type="button"
                        title="Gå til dato"
                        data-mdb-toggle="tooltip"
                        id="planner__goToDateButton">
                        <i class="fas fa-door"></i>
                        <i class="fas fa-calendar"></i>
                    </button>
                </div>
            </div>
        </div>
        <div>
            <div id="planner__viewNavigationHeader">
            </div>
        </div>
    </div>
    <div id="day_calendar"></div>

    <div class="row">
        {% comment %} <div class="col-12 mt-3">
            <div class="card">
                <div class="card-header">
                    <i class="fas fa-clipboard"></i>&nbsp; Mine pågående og fremtidige arrangementer
                </div>
                <div class="card-body">
                    <div id="day_calendar"></div>
                   
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Dato</th>
                                    <th>Status</th>
                                    <th>Navn</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for arrangement in FUTURE_ARRANGEMENTS_RESPONSIBLE %}
                                <tr>
                                    <td>{{arrangement.start.start}} -- {{arrangement.end.end}}</td>
                                    <td>
                                        {% if arrangement.state.value == 2 %}
                                            <div class="badge badge-info">
                                                Fremtidig
                                            </div>    
                                        {% elif arrangement.state.value == 0 %}
                                            <div class="badge badge-light">
                                                Fortidig
                                            </div>
                                        {% elif arrangement.state.value == 1 %}
                                            <div class="badge badge-success">
                                                Pågår
                                            </div>
                                        {% endif %}
                                    </td>
                                    <td>{{arrangement.name}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div> {% endcomment %}
    </div>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.9.2/jquery.contextMenu.css" integrity="sha512-EF5k2tHv4ShZB7zESroCVlbLaZq2n8t1i8mr32tgX0cyoHc3GfxuP7IoT8w/pD+vyoq7ye//qkFEqQao7Ofrag==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="{% static 'modules/planner/dialog_manager/dialog.js' %}"></script>
    <script src="{% static 'modules/planner/dialog_manager/presetSelectManagerPlugin.js' %}"></script>
    <script src="{% static 'modules/planner/dialog_manager/showIfSelectedPlugin.js' %}"></script>
    <script src="{% static 'modules/planner/dialog_manager/dataSyncToManagerPlugin.js' %}"></script>

    <script type="module">
        import { PlannerCalendar } from "{% static 'modules/planner/plannerCalendar.js' %}";
        import { CalendarFilter } from "{% static 'modules/planner/commonLib.js' %}";
        import { ArrangementInspector } from "{% static 'modules/planner/arrangementInspector.js' %}";
        import { EventInspector } from "{% static 'modules/planner/eventInspector.js' %}";

        let arrangementInspector = new ArrangementInspector();
        let eventInspector = new EventInspector();
        let calendarFilter = new CalendarFilter( (filter) => { activeCalendar.init(); } );

        const colorSwatch = [
            "#63b598", "#ce7d78", "#ea9e70", "#a48a9e", "#c6e1e8", "#648177", "#0d5ac1",
            "#f205e6", "#1c0365", "#14a9ad", "#4ca2f9", "#a4e43f", "#d298e2", "#6119d0",
            "#d2737d", "#c0a43c", "#f2510e", "#651be6", "#79806e", "#61da5e", "#cd2f00",
            "#9348af", "#01ac53", "#c5a4fb", "#996635", "#b11573", "#4bb473", "#75d89e",
            "#2f3f94", "#2f7b99", "#da967d", "#34891f", "#b0d87b", "#ca4751", "#7e50a8",
            "#c4d647", "#e0eeb8", "#11dec1", "#289812", "#566ca0", "#ffdbe1", "#2f1179",
            "#935b6d", "#916988", "#513d98", "#aead3a", "#9e6d71", "#4b5bdc", "#0cd36d",
            "#250662", "#cb5bea", "#228916", "#ac3e1b", "#df514a", "#539397", "#880977",
            "#f697c1", "#ba96ce", "#679c9d", "#c6c42c", "#5d2c52", "#48b41b", "#e1cf3b",
            "#5be4f0", "#57c4d8", "#a4d17a", "#be608b", "#96b00c", "#088baf", "#f158bf",
            "#e145ba", "#ee91e3", "#05d371", "#5426e0", "#4834d0", "#802234", "#6749e8",
            "#0971f0", "#8fb413", "#b2b4f0", "#c3c89d", "#c9a941", "#41d158", "#fb21a3",
            "#51aed9", "#5bb32d", "#21538e", "#89d534", "#d36647", "#7fb411", "#0023b8",
            "#3b8c2a", "#986b53", "#f50422", "#983f7a", "#ea24a3", "#79352c", "#521250",
            "#c79ed2", "#d6dd92", "#e33e52", "#b2be57", "#fa06ec", "#1bb699", "#6b2e5f",
            "#64820f", "#21538e", "#89d534", "#d36647", "#7fb411", "#0023b8", "#3b8c2a",
            "#986b53", "#f50422", "#983f7a", "#ea24a3", "#79352c", "#521250", "#c79ed2",
            "#d6dd92", "#e33e52", "#b2be57", "#fa06ec", "#1bb699", "#6b2e5f", "#64820f",
            "#9cb64a", "#996c48", "#9ab9b7", "#06e052", "#e3a481", "#0eb621", "#fc458e",
            "#b2db15", "#aa226d", "#792ed8", "#73872a", "#520d3a", "#cefcb8", "#a5b3d9",
            "#7d1d85", "#c4fd57", "#f1ae16", "#8fe22a", "#ef6e3c", "#243eeb", "#dd93fd",
            "#3f8473", "#e7dbce", "#421f79", "#7a3d93", "#635f6d", "#93f2d7", "#9b5c2a",
            "#15b9ee", "#0f5997", "#409188", "#911e20", "#1350ce", "#10e5b1", "#fff4d7",
            "#cb2582", "#ce00be", "#32d5d6", "#608572", "#c79bc2", "#00f87c", "#77772a",
            "#6995ba", "#fc6b57", "#f07815", "#8fd883", "#060e27", "#96e591", "#21d52e",
            "#d00043", "#b47162", "#1ec227", "#4f0f6f", "#1d1d58", "#947002", "#bde052",
            "#e08c56", "#28fcfd", "#36486a", "#d02e29", "#1ae6db", "#3e464c", "#a84a8f",
            "#911e7e", "#3f16d9", "#0f525f", "#ac7c0a", "#b4c086", "#c9d730", "#30cc49",
            "#3d6751", "#fb4c03", "#640fc1", "#62c03e", "#d3493a", "#88aa0b", "#406df9",
            "#615af0", "#2a3434", "#4a543f", "#79bca0", "#a8b8d4", "#00efd4", "#7ad236",
            "#7260d8", "#1deaa7", "#06f43a", "#823c59", "#e3d94c", "#dc1c06", "#f53b2a",
            "#b46238", "#2dfff6", "#a82b89", "#1a8011", "#436a9f", "#1a806a", "#4cf09d",
            "#c188a2", "#67eb4b", "#b308d3", "#fc7e41", "#af3101", "#71b1f4", "#a2f8a5",
            "#e23dd0", "#d3486d", "#00f7f9", "#474893", "#3cec35", "#1c65cb", "#5d1d0c",
            "#2d7d2a", "#ff3420", "#5cdd87", "#a259a4", "#e4ac44", "#1bede6", "#8798a4",
            "#d7790f", "#b2c24f", "#de73c2", "#d70a9c", "#88e9b8", "#c2b0e2", "#86e98f",
            "#ae90e2", "#1a806b", "#436a9e", "#0ec0ff", "#f812b3", "#b17fc9", "#8d6c2f",
            "#d3277a", "#2ca1ae", "#9685eb", "#8a96c6", "#dba2e6", "#76fc1b", "#608fa4",
            "#20f6ba", "#07d7f6", "#dce77a", "#77ecca"
        ];

        class ColorByArrangementProvider {
            constructor () {
                this._seenArrangements = new Map();
                this._pickedColors = new Map();
            }
    
            _pickUniqueColor() {
                for (let i = 0; i < colorSwatch.length; i++) {
                    let color = colorSwatch[i];
                    if (this._pickedColors.has(color) === false) {
                        this._pickedColors.set(color, true);
                        return color;
                    }
                }
    
                return "green";
            }
    
            getColor(arrangement) {
                if (this._seenArrangements.has(arrangement.slug)) {
                    return this._seenArrangements.get(arrangement.slug);
                }
    
                let color = this._pickUniqueColor();
    
                this._seenArrangements.set(arrangement.slug, color);
                return color;
            }
        }
    
        class ColorByMainPlannerColorProvider {
            constructor () {
                this._seenPlanners = new Map();
                this._pickedColors = new Map();
            }
    
            _pickUniqueColor() {
                for (let i = 0; i < colorSwatch.length; i++) {
                    let color = colorSwatch[i];
                    if (this._pickedColors.has(color) === false) {
                        this._pickedColors.set(color, true);
                        return color;
                    }
                }
    
                return "green";
            }
    
            getColor(arrangement) {
                if (this._seenPlanners.has(arrangement.mainPlannerName)) {
                    return this._seenPlanners.get(arrangement.mainPlannerName);
                }
    
                let color = this._pickUniqueColor();
    
                this._seenPlanners.set(arrangement.mainPlannerName, color);
                return color;
            }
        }
    
        class ColorByAudienceColorProvider {
            constructor () {
                this._seenAudiences = new Map();
                this._pickedColors = new Map();
            }
    
            _pickUniqueColor() {
                for (let i = 0; i < colorSwatch.length; i++) {
                    let color = colorSwatch[i];
                    if (this._pickedColors.has(color) === false) {
                        this._pickedColors.set(color, true);
                        return color;
                    }
                }
    
                return "green";
            }
    
            getColor(arrangement) {
                if (this._seenAudiences.has(arrangement.audience)) {
                    return this._seenAudiences.get(arrangement.audience);
                }
    
                let color = this._pickUniqueColor();
    
                this._seenAudiences.set(arrangement.audience, color);
                return color;
            }
        }
        let activeDate = new Date();

        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('day_calendar');

            
            let plannerCalendar = new PlannerCalendar({
                calendarElement: document.getElementById('day_calendar'),
                arrangementInspectorUtility: arrangementInspector,
                eventInspectorUtility: eventInspector,
                eventsSrcUrl: "{% url 'arrangement:my_events_event_source' %}",
                colorProviders: [ 
                    { key: "planner", provider: new ColorByMainPlannerColorProvider() }, 
                    { key: "audience", provider: new ColorByAudienceColorProvider() },
                    { key: "arrangement", provider: new ColorByArrangementProvider() },
                ],
                initialColorProvider: "arrangement",
                csrf_token: '{{ csrf_token }}',
                height: 900,
                calendarFilter: calendarFilter,
                licenseKey: '{{ FULLCALENDAR_LICENSE_KEY }}',
                navigationHeaderWrapperElement: $('#planner__viewNavigationHeader'),
                useOnclickEvents: {% if user|has_group:"planners" or user|has_group:"readonly_level_2" or user.is_superuser %}true{% else %}false{% endif %},
                renderContextMenu: {% if user|has_group:"planners" or user|has_group:"readonly_level_2" or user.is_superuser %}true{% else %}false{% endif %},
                renderPopovers: true,
                showAdministrativeActionsInContextMenu: {% if user|has_group:"planners" or user.is_superuser %}true{% else %}false{% endif %},
            });
            let activeCalendar = plannerCalendar;
            plannerCalendar.renderNavigationButtons();

            document.getElementById('planner__todayButton').addEventListener('click', (event) => {
                plannerCalendar.getFcCalendar().today();
                activeDate = plannerCalendar.getFcCalendar().getDate();
            });
            document.getElementById('planner__moveBackOneIntervalButton').addEventListener('click', (event) => {
                plannerCalendar.getFcCalendar().prev();
                activeDate = plannerCalendar.getFcCalendar().getDate();
            });
            document.getElementById('planner__moveForwardOneIntervalButton').addEventListener('click', (event) => {
                plannerCalendar.getFcCalendar().next();
                activeDate = plannerCalendar.getFcCalendar().getDate();
            });
          });
      </script>
{% endblock inner %}

