{% extends "users/users_base.html" %}
{% load crispy_forms_tags %}
{% load static i18n %}


{% block title %}{{ user.username }}{% endblock %}
{% block section_title %}{% trans "My Info" %}{% endblock %}

{% block inner %}
  <h4 class="mb-0">
    <i class="fas fa-info-circle"></i>
    My Info
  </h4>
  <form class="form-horizontal" method="post" action="{% url 'users:update' %}"
    enctype="multipart/form-data">
    {% csrf_token %}

      {% if form.profile_picture %}
        {{ form.profile_picture }}
      {% endif %}

      <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-12">
          <div class="form-group mt-3">
            <label class="form-label" for="{{ form.first_name.id_for_label }}">{{ form.first_name.label }}</label>
            <input type="text" class="form-control form-control-lg" id="{{ form.first_name.id_for_label }}" name="{{ form.first_name.name}}"
                    placeholder="{{ form.first_name.placeholder }}" value="{{ form.first_name.value | default:'' }}"/>
          </div>
        </div>

        <div class="col-lg-4 col-md-12 col-sm-12">
          <div class="form-group mt-3">
            <label class="form-label" for="{{ form.first_name.id_for_label }}">{{ form.middle_name.label }}</label>
            <input type="text" class="form-control form-control-lg" id="{{ form.middle_name.id_for_label }}" name="{{ form.middle_name.name}}"
                    placeholder="{{ form.middle_name.placeholder }}" value="{{ form.middle_name.value | default:'' }}"/>
          </div>
        </div>

        <div class="col-lg-4 col-md-12 col-sm-12">
          <div class="form-group mt-3">
            <label class="form-label" for="{{ form.last_name.id_for_label }}">{{ form.last_name.label }}</label>
            <input type="text" class="form-control form-control-lg" id="{{ form.last_name.id_for_label }}" name="{{ form.last_name.name}}"
                    placeholder="{{ form.last_name.placeholder }}" value="{{ form.last_name.value | default:'' }} "/>
          </div>
        </div>
      </div>

      <div class="form-group mt-3">
        <label class="form-label" for="{{ form.birth_date.id_for_label }}">{{ form.birth_date.label }}</label>
        <input type="date" class="form-control form-control-lg" id="{{ form.birth_date.id_for_label }}" name="{{ form.birth_date.name}}"
                placeholder="{{ form.birth_date.placeholder }}" value="{{ form.birth_date.value | date:'Y-m-d' }}"/>
      </div>

      <div class="clearfix">
        <div class="col-sm-12 col-lg-2 float-end">
          <button class="btn btn-success btn-block mb-sm-3 mb-lg-0 mt-lg-3 mt-sm-4 form-control-sm float-end"
                  type="submit">
            <i class="la la-save"></i>&nbsp; Lagre
          </button>
        </div>
      </div>
  </form>
{% endblock %}
