{% extends "common/meta_base.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}

{% block section_title_block %}
    {% if object.pk != 0 %}
        {{ object.location.name }} / {{ object.name }}
    {% else %}
        Nytt rom
    {% endif %}
{% endblock %}


{% block content %}
    <form method="post">
        {% csrf_token %}

        {{ form.location }}

        <div class="form-group mt-2 pt-3 pb-2">
            <label for="{{ form.name.id_for_label }}" class="h5 d-block">
                {{ form.name.label }}
            </label>


            <input type="text" class="form-control"
                id="{{ form.name.id_for_label }}"
                value="{{ form.name.value|default:'' }}"
                name="{{ form.name.name }}"
                placeholder="{% trans 'Room' %} A..."/>
        </div>

        <div class="form-group mt-2 pt-3 pb-2">
            <label for="{{ form.name_en.id_for_label }}" class="h5 d-block">
                {{ form.name_en.label }}
            </label>

            <input type="text" class="form-control"
                id="{{ form.name_en.id_for_label }}"
                value="{{ form.name_en.value|default:'' }}"
                name="{{ form.name_en.name }}"
                placeholder="{% trans 'Room name (english)' %}..."/>
        </div>

        <div class="form-group mt-2 pt-3 pb-2">
            <label for="{{ form.max_capacity.id_for_label }}" class="h5 d-block">
                {{ form.max_capacity.label }}
            </label>


            <input type="number" class="form-control"
                min="0"
                id="{{ form.max_capacity.id_for_label }}"
                value="{{ form.max_capacity.value|default:'0' }}"
                name="{{ form.max_capacity.name }}"/>
        </div>

        <div class="form-group mt-2 pt-3 pb-2">
            <label for="{{ form.max_capacity.id_for_label }}" class="h5 d-block">
                {{ form.max_capacity.label }}
            </label>


            <div class="form-check form-switch">
                {% if object.is_exclusive %}
                    <input class="form-check-input" name="{{form.is_exclusive.name}}" type="checkbox" role="switch" id="{{form.is_exclusive.id_for_label}}" checked />
                {% else %}
                    <input class="form-check-input" name="{{form.is_exclusive.name}}" type="checkbox" role="switch" id="{{form.is_exclusive.id_for_label}}" />
                {% endif %}
                <label class="form-check-label" for="{{form.is_exclusive.id_for_label}}">Is room exclusive?</label>
            </div>

              <div class="form-check form-switch">
                {% if object.has_screen %}
                    <input class="form-check-input" name="{{form.has_screen.name}}" type="checkbox" role="switch" id="{{form.has_screen.id_for_label}}" checked />
                {% else %}
                    <input class="form-check-input" name="{{form.has_screen.name}}" type="checkbox" role="switch" id="{{form.has_screen.id_for_label}}" />
                {% endif %}
                <label class="form-check-label" for="{{form.has_screen.id_for_label}}">Room have screen?</label>
            </div>
        </div>



        <div class="mt-3">


            <button type="reset" class="btn wb-bg-secondary shadow-0">
                <i class="fas fa-redo"></i>&nbsp; 
                {% trans "Reset Form" %}
            </button>

            <div class="float-end">
                <a class="btn wb-btn-secondary" onClick="window.history.back();return false;">
                    <i class="fas fa-times"></i>&nbsp; 
                    {% trans "Cancel" %}
                </a>
                <button type="submit" class="btn wb-btn-main">
                    <i class="fas fa-check"></i>&nbsp; 
                    {% trans "Save" %}
                </button>
            </div>
        </div>
    </form>
{% endblock %}
