<template id="vuec-popover-component">
    <div 
        :class="[ { active : internalIsVisible }, 'popover_wrapper', 'dialog-popover-left-fix' ]" 
        ref="popover">
        <div class="popover_content" :style="style">
            <slot></slot>
        </div>
    </div>
</template>

<script>
    let PopoverComponent = {
        props: {
            isVisible: Boolean,
            excludes: Array,
            style: String,
            hideOnClickOutside: {
                type: Boolean,
                default: true
            }
        },
        data() {
            return {
                internalIsVisible: false,
                ignoreNextClick: false,
            }
        },
        methods: {
            toggleVisibility() {
                this.internalIsVisible = !this.internalIsVisible;
            }
        },
        watch: {
            isVisible(newState, oldState) {
                if (newState == false) {
                    $(this.$refs.popover).hide("fade", {}, 400, () => {
                        this.internalIsVisible = false;
                    });
                }
                else {
                    this.internalIsVisible = newState;
                    this.ignoreNextClick = true;

                    // Figure out if popover is partially beneath the screen
                    let popoverHeight = $(this.$refs.popover).height();
                    let popoverTop = $(this.$refs.popover).offset().top;
                    let popoverBottom = popoverTop + popoverHeight;
                    console.log(popoverTop, popoverBottom, popoverHeight, $(window).height());

                    $(this.$refs.popover).show("fade", {}, 400);
                }
            },
            internalIsVisible(newState, oldState) {
                this.$emit("update:isVisible", newState);
            }
        },
        emits: ["update:isVisible"],
        mounted() {
            this.internalIsVisible = this.isVisible;
            if (this.hideOnClickOutside) {
                this.clickOutsideEvent = (e) => {
                    if (this.ignoreNextClick) {
                        this.ignoreNextClick = false;
                        return;
                    }

                    if (this.$el !== event.target && !this.$el.contains(event.target)) {
                        if (this.excludes && this.excludes.length > 0 && this.excludes.includes(event.target)) {
                            return;
                        }
                        console.log("click outside!")
                        this.internalIsVisible = false;
                        // this.$emit("update:isVisible", false);
                    }
                };

                document.addEventListener('click', this.clickOutsideEvent);
                document.addEventListener('touchstart', this.clickOutsideEvent);
            }
        },
        unmounted() {
            if (this.hideOnClickOutside) {
                document.removeEventListener('click', this.clickOutsideEvent);
                document.removeEventListener('touchstart', this.clickOutsideEvent);
            }
        },
        delimiters: ["[[", "]]"],
        template: "#vuec-popover-component"
    }
</script>