<template id="vuec-tri-state-toggle-component">
    <div class="d-flex justify-content-center">
        <div>
            <span class="dot bg-danger text-center text-white border border-dark" @click="changeState('rejected')" title="Avslått">
                <!-- <i class="fas fa-times"></i> -->
            </span>
        </div>
        <div>
            <span class="dot bg-warning text-center text-white border border-dark ms-1 me-1" @click="changeState('maybe')" title="Kanskje"> 
                <!-- <i class="fas fa-spinner"></i> -->
            </span>
        </div>
        <div>
            <span class="dot bg-success text-center text-white border border-dark" @click="changeState('accepted')" title="Akseptert">
                <!-- <i class="fas fa-check"></i> -->
            </span>
        </div>
    </div>
</template>

<script>
    let TriStateToggleComponent = {
        emits: [
            'state-set'
        ],
        methods: {
            changeState(state) {
                this.$emit('state-set', state);
            }
        },
        template: '#vuec-tri-state-toggle-component',
        delimiters: [ '[[', ']]'],
    }
</script>